//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$container-width: 1350px
$container-padding: 0 40px
$container-margin: 0 auto

$container-slim-width: 1200px

$container-clear-header-padding: 100px

//***********************************
// Custom Override Styles
//***********************************

.custom .container

  +breakpoint(medium)
    padding-left: 20px
    padding-right: 20px
