//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$asset-border-color: $base-color-light
$asset-selected-bg: tint($brand-color, 80%)
$asset-padding: 10px
$asset-font-size: 14px
$asset-font-family: $base-font-family
$asset-media-bg: $athens-gray

//***********************************
// Custom Override Styles
//***********************************

.custom .asset
  &__details
    .text-button
      color: $base-color

      &:hover
        color: $downy
