//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$checkbox-filters-margin: 0 0 2px 0

//***********************************

$checkbox-filters-header-bg: $thunder
$checkbox-filters-header-padding: 10px 60px

//***********************************

$checkbox-filters-content-padding: 20px 100px 20px

//***********************************

$checkbox-filters-toggle-bg: $brand-color
$checkbox-filters-toggle-bg-active: $casper
$checkbox-filters-toggle-padding: 5px 20px
$checkbox-filters-toggle-radius: 20px
$checkbox-filters-toggle-hover-bg: $casper

//***********************************
// Custom Override Styles
//***********************************

.custom .checkbox-filters
    .custom-checkbox
        &__label
            color: $white

    &__header .custom-checkbox__label::before
        top: -3px