//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$media-border-radius: 8px 0px 0px 8px

//***********************************
// Custom Override Styles
//***********************************

.custom .news

  &__featured
    .card__media-link
      width: 100%

    .card__content
      padding-left: 20px