//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$paginator-margin: 60px 0 100px

//***********************************

$paginator-button-spacing: 5px
$paginator-button-color: $brand-color
$paginator-button-border: solid 2px $brand-color
$paginator-button-bgc: $white
$paginator-button-padding: 5px
$paginator-button-size: 32px
$paginator-button-active-color: $white
$paginator-button-active-bgc: $brand-color

//***********************************

$paginator-ellipsis-bgc: transparent
$paginator-ellipsis-color: $brand-color

//***********************************

$paginator-arrow-padding: 5px 20px
$paginator-previous-radius: 0
$paginator-next-radius: 0
$paginator-disabled-arrow-bgc: tint($white, 75%)

//***********************************
// Custom Override Styles
//***********************************

.custom .paginator
    flex-wrap: wrap

    &__button
        font-size: 15px
        border-radius: 3px

    &__arrow
        background: transparent
        border: none
        padding: $paginator-button-padding

        &--is-disabled
            opacity: .5

    +breakpoint(small)
        &__button,
        &__arrow
            margin-bottom: 5px