//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: $brand-color
$sharer-padding: 10px 20px
$sharer-color: $white
$sharer-font-size: 14px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
