//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$video-play-bgc: rgba($brand-color, .6)
$video-play-border: solid 2px $white
$video-play-radius: 50%

//***********************************

$video-play-size: 60px

//***********************************

$video-play-arrow-bgc: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .video
    &__title
        font-size: 18px
        text-transform: uppercase