@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$virtual-asset-search-control-border-radius: 4px


//***********************************
// Custom Override Styles
//***********************************


.custom .virtual-asset-search

  .programme-search
    &__input
      border: none
      color: $white

  &__selector
    .carousel
      margin-top: 8px
