//***********************************

@import '../../core/imports'

.custom .wysiwyg, .custom .ql-editor
  h1,h2,h3
    font-weight: 900
    


.custom .section--shade .wysiwyg
  a
    color: $white

    &:hover, &:active
      color: $light-brand-color
      text-decoration: underline


