//***********************************

@import '../../../core/imports'

//***********************************
// Theme Variables
//***********************************

$map-height: 800px
$map-width: 100%

//***********************************

$hotel-marker-color: pink
$event-marker-color: orange
$restaurant-marker-color: lightgreen
$marker-background-color: white

//***********************************
// Custom Override Styles
//***********************************

.custom .map
