//***********************************
// Theme Variables
//***********************************

$programme-details-gutter: 70px
$programme-details-border: none
$programme-details-side-width: 280px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme-details
  margin-top: 80px
      
  .heading--two
    font-size: 24px
    margin-bottom: 25px

  .heading--three
    font-size: 18px
    margin-bottom: 10px

  .tags
    margin-bottom: 20px

  .wysiwyg
    margin-bottom: 30px

  &__side
    .heading--three
      margin-bottom: 5px

  &__breakdown
    > p strong
      font-size: 18px
      text-transform: uppercase
      font-weight: 500

  +breakpoint(large)
    padding-bottom: 0
    margin-top: 0

    &__main
      margin-right: 0
      padding-right: 0
    
    &__side
      margin-top: 40px
      width: auto

.custom .programme-assets
  margin-top: 80px
  
  .heading--two
    font-size: 24px
    margin-bottom: 25px

  
.custom .programme-blocks
  .content-block--light:first-child
    padding-top: 0
