//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .video-carousel
    background: $athens-gray
    padding: 30px 0

    &__select
        margin-bottom: 30px