//***********************************
// Brand Specific Variables 
//***********************************

$firefly: #00aeff
$brand-color: $firefly
$light-brand-color: #afe6ff
$dark-brand-color: #00508c
$nav-icon-hover-color: #ffffff

$blue-bayoux: #4a5f6b
$edward: #98a4a5
$fiord: #4a5e6a
$geyser: #dae1e5
$iron: #c9cfd3
$mirage: #192227

//  genres
$drama: #ff0073
$factual: #ffffff
$factual_entertainment: #00ff8a
$crime: #ffff9a
$history: #ffbe61
$art: #dc8eff
$nature_and_wildlife: #9cffd2
$travel: #ffadd2
$lifestyle: #ff9600
$comedy: #ffff00
$formats: $light-brand-color

// $entertainment: #ee4097
// $factual_entertainment_formats: #007cc3
// $scripted_formats: #75526b


// colour maps
$genre-colors: ( formats: $formats, drama: $drama, factual: $factual, crime: $crime, history: $history, arts: $art, nature_and_wildlife: $nature_and_wildlife, travel: $travel, lifestyle: $lifestyle, factual_entertainment: $factual_entertainment, comedy: $comedy)


