//***********************************
// typography
//***********************************

@font-face
  font-family: 'Oduda'
  font-style: normal
  font-weight: 300
  font-display: auto
  src: url('/assets/fonts/Oduda-Light.otf') format('opentype')

@font-face
  font-family: 'Oduda'
  font-style: normal
  font-weight: 500
  font-display: auto
  src: url('/assets/fonts/Oduda.otf') format('opentype')

@font-face
  font-family: 'Oduda'
  font-style: normal
  font-weight: 700
  font-display: auto
  src: url('/assets/fonts/Oduda-Semi-Bold.otf') format('opentype')

@font-face
  font-family: 'Oduda'
  font-style: normal
  font-weight: 900
  font-display: auto
  src: url('/assets/fonts/Oduda-Bold.otf') format('opentype')

@font-face
  font-family: 'Oduda'
  font-style: normal
  font-weight: bold
  font-display: auto
  src: url('/assets/fonts/Oduda-Bold.otf') format('opentype')


$base-font-family: 'Oduda', sans-serif
$base-font-size: 15px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 30px, 2: 20px, 3: 20px)
$base-heading-weight: bold
$base-border-radius: 25px

//***********************************
// colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$valencia: #dc4250
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f
$river-bed: #383c4b

//***********************************
// color shortcuts
//***********************************

$base-color-dark: $river-bed
$base-color: $river-bed
$base-color-light: $casper
$error-color: $valencia
$success-color: #2ecc71
$warning-color: $gamboge
$background-color: $white

//***********************************
// breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)
$bold: 600