//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$button-bgc: transparent
$button-border-radius: $base-border-radius
$button-border: 2px solid $brand-color
$button-hover-bgc: shade($brand-color, 20%)

//***********************************

$button-filled-bgc: $brand-color
$button-filled-color: $white
$button-filled-hover-bgc: shade($brand-color, 20%)
$button-filled-icon-color: $white

//***********************************

$button-small-padding: 6px 20px
$button-small-font-size: (14/16)+rem
$button-with-icon-padding: 9px 20px 7px 16px

//***********************************

$button-error-background: $error-color
$button-error-color: $white
$button-error-border: 2px solid $error-color

$button-error-hover-background: shade($error-color, 10%)

$button-success-background: $success-color
$button-success-color: $white
$button-success-border: 2px solid $success-color

$button-success-hover-background: shade($success-color, 10%)

//***********************************

$button-null-background: $base-color-dark
$button-null-color: $white
$button-null-border: 2px solid $base-color-dark

$button-null-hover-background: $base-color-dark

//***********************************

$button-color: $base-color
$button-font-family: $base-font-family
$button-font-size: $base-font-size
$button-font-weight: 500

//***********************************

$button-padding: 11px 20px

//***********************************

$button-transition: background-color .3s, border-color .3s

//***********************************

$button-alert-color: $error-color
$button-alert-size: 14px
$button-alert-right: 10px

//***********************************

$button-icon-padding: 9px
$button-icon-size: 44px
$button-icon-margin: 0 10px 0 0
$button-icon-margin-right: 0 0 0 10px

//***********************************
// Custom Override Styles
//***********************************

.custom .button,
.custom .mock-page .content-block .button
    transition: background .2s, color .2s

    &:hover,
    &:focus
        color: $white

        .button__icon
            fill: $white

    svg
        margin-right: 5px
        vertical-align: middle

    &--secondary
        background: $orient
        border-color: $orient
        color: $white

        svg
            fill: $white

        &:hover,
        &:focus
            background: shade($orient, 20%)

    &--icon
        border: 0

        svg
            margin: 0

    &--delta
        background: $white
        border-color: $delta
        color: $delta

        &:hover,
        &:focus
            background: $delta
            color: $white

    &--delta-reverse
        background: $delta
        border-color: $delta
        color: $white

        &:hover,
        &:focus
            background: shade($delta, 20%)
            color: $white

    &--ghost
        background-color: transparent
        border-color: $white
        color: $white

        &:hover,
        &:focus
            background: rgba($white, .2)
            color: $white

    &--wide
        padding-left: 70px
        padding-right: 70px

    &-nav
        background-color: transparent
        border: 0
        width: 100%
        text-align: left
        cursor: pointer
        font-family: $base-font-family


