//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$form-width: 980px
$form-skinny-width: 400px

//***********************************

$form-input-padding: 8px 15px
$form-input-radius: $base-border-radius
$form-textarea-radius: 10px
$form-input-border: 1px solid $delta
$form-input-focus-border: $orient
$form-textarea-height: 120px
$form-input-phone-padding: 3px 15px

//***********************************
// Custom Override Styles
//***********************************

.custom .form
  font-size: (15/16)+rem
  font-weight: 300

  &__label
    margin-left: 20px
    margin-bottom: 5px
    color: $base-color
    font-weight: 400
    margin-bottom: 3px
