//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$icon-button-fill: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .icon-button
    background: $orient
    border-radius: 50%
    height: 24px
    width: 24px
