//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$info-size: 14px
$info-color: $base-color-light


//***********************************
// Custom Override Styles
//***********************************

.custom
    .heading
        &--two
            font-weight: 600

    +breakpoint(large)

        .heading
            &--two
                font-size: 26px

    +breakpoint(small)

        .heading
            &--two
                font-size: 20px
