//***********************************

@import '../../core/imports'

.custom .wysiwyg, .custom .ql-editor
    h1, h2, h3, h4
        color: $mako
        font-weight: 600

    h1
        font-size: (36/16)+rem
        line-height: 1
        margin-bottom: 15px
        padding-bottom: 22px
        position: relative

        &:after
            background: $brand-color
            bottom: 0
            content: ''
            height: 6px
            left: 0
            position: absolute
            width: 80px

    p
        -webkit-font-smoothing: auto
    li
        -webkit-font-smoothing: auto

    h2
        font-size: (36/16)+rem

    h3
        font-size: (24/16)+rem

    h4
        font-size: (18/16)+rem