//***********************************
// Typography
//***********************************

@font-face
  font-family: 'sharp_grotesk_book'
  src: url('/assets/fonts/SharpGroteskBook20.woff2') format('woff2'), url('/assets/fonts/SharpGroteskBook20.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: auto

@font-face
  font-family: 'sharp_grotesk_medium'
  src: url('/assets/fonts/SharpGroteskMedium20.woff2') format('woff2'), url('/assets/fonts/SharpGroteskMedium20.woff') format('woff')
  font-weight: 600
  font-display: auto

$base-font-family: 'sharp_grotesk_medium', sans-serif
$base-font-size: 14px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 52px, 2: 36px, 3: 26px)
$base-heading-weight: normal
$sub-font-family: 'sharp_grotesk_book', sans-serif

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f

$delta: #A6A6A5
$nobel: #B5B5B5
$gallery: #EFEEED
$cod-gray: #1E1E1E
$cinnabar: #F43440
$dove-gray: #616161
$cloudy: #AFA99F

$radical-red: #FF4370
$shady-lady: #a599a3
$toledo: #1E0018
$tyrian: #5C013F
$jacaranda: #2b021c
$azalea: #F5C6D0
$gull-gray: #98A5B1
$persian-plum: #661b2d

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: $black
$base-color: $toledo
$base-color-light: $shady-lady
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $white

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 768, large: 1024, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)