//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$form-width: 980px
$form-skinny-width: 400px

//***********************************

$form-input-padding: 8px 20px
$form-input-radius: 4px
$form-textarea-radius: 10px
$form-input-border: 2px solid $base-color-light
$form-input-focus-border: $brand-color
$form-textarea-height: 120px
$form-input-phone-padding: 3px 15px

//***********************************
// Custom Override Styles
//***********************************

.custom .form

  &__input
    background-color: $black
    color: $white

  &__label
    margin-bottom: 5px
    color: shade($base-color-light, 10%)

  &__inner
    .Select-control
      background-color: $black