//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$icon-button-fill: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .icon-button
    background-color: $brand-color
    border-radius: 4px