//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .report
    background-color: $cod-gray

    &__heading
        font-size: 30px
        margin-top: 0
        margin-bottom: 20px

        + .report__sub-title
            margin-top: -20px
            margin-bottom: 30px

    .page-controls
        padding-top: 0

    &__sub-title
        color: $edward

.custom .section:not(:first-of-type) .report
    &__heading:before
        display: block
        content: ""
        max-width: 1290px
        width: 100%
        margin: 0 auto
        border-bottom: 2px solid black
        margin-bottom: 60px