//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$add-meeting-size: 32px
$add-meeting-border: 2px solid $base-color
$add-meeting-radius: 50%
$add-meeting-background: transparent
$add-meeting-background-hover: $base-color

//***********************************

$add-meeting-icon-size: 14px
$add-meeting-icon-size-large: 14px
$add-meeting-icon-fill: $base-color
$add-meeting-icon-fill-hover: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .add-meeting