//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************


//***********************************
// Custom Override Styles
//***********************************

.custom .brand
    max-width: 250px

    img
        max-width: 100%

    +breakpoint(medium)
        width: 170px