//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$programme-image-radius: 0
$programme-image-spacing: 10px

//***********************************

$programme-title-font-size: 18px
$programme-title-font-size-small: 14px

//***********************************

$programme-copy-font-size: 14px
$programme-copy-color: $casper

//***********************************

$programme-icon-size: 60px
$programme-icon-background: $mako
$programme-icon-border: 2px solid $white
$programme-icon-radius: 50%

//***********************************

$programme-icon-arrow-size: 28px
$programme-icon-arrow-color: $white

//***********************************

$programme-strip-bgc: $error-color
$programme-strip-color: $white
$programme-strip-font-size: 12px
$programme-strip-padding: 6px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme
    &__image
        border-radius: 0 0 55px 0