//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: transparent
$sharer-padding: 20px 0
$sharer-color: $base-color
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
