//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$toggle-size: 36px
$toggle-border: 2px solid $brand-color
$toggle-background: $white
$toggle-background-hover: $brand-color
$toggle-border-radius: 50%

//***********************************

$toggle-icon-fill: $white

//***********************************

$toggle-active-background: $brand-color
$toggle-active-border: 2px solid $brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .toggle