//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tweet-base-color: $base-color
$tweet-bgc: transparent

//***********************************

$tweet-title-color: $base-color
$tweet-title-margin: 0 0 5px 0
$tweet-title-size: 18px
$tweet-title-weight: 600

//***********************************

$tweet-handle-color: $brand-color
$tweet-handle-font-size: 14px

//***********************************

$tweet-date-color: $base-color
$tweet-date-font-size: 12px
$tweet-date-margin: 0

//***********************************

$tweet-copy-color: $base-color
$tweet-copy-hover-color: $base-color
$tweet-copy-margin: 0 0 10px
$tweet-copy-size: $base-font-size
$tweet-copy-weight: normal

//***********************************


$tweet-avatar-size: 50px
$tweet-avatar-margin: 0 10px 0 0

//***********************************
// Custom Override Styles
//***********************************

.custom .tweet
  &__handle
    font-weight: 400

  &__title
    display: block

  &__header
    margin-bottom: 15px