//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$video-play-bgc: rgba($base-color, .6)
$video-play-border: 2px solid $white
$video-play-radius: 50%

//***********************************

$video-play-size: 78px

//***********************************

$video-play-arrow-bgc: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .video
  &--with-poster
    background: transparent
    
  &__poster
    border-bottom-right-radius: 160px

    &:not(.video__poster--hide) + div
      opacity: 0