//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #52347d
$nav-icon-hover-color: $brand-color


//  genres
$drama:  #434CAE //purple
$comedy: #256CAA //dark blue
$kids: #1CA9C9 //blue
$digital: #47C473 //green
$game: #FFD40D //yellow
$reality: #FAA629 //orange
$entertainment: #F66F09 //dark orange
$factual: #D4021C //red

$scripted: #1CA9C9 //blue
$kids: #47C473 //green
$non_scripted: #FFD40D //yellow

// colour maps
$genre-colors: ( 'scripted': $scripted, 'non_scripted': $non_scripted, 'kids_teens': $kids)