//***********************************
// Theme Variables
//***********************************



//***********************************
// Custom Override Styles
//***********************************

.custom .meeting-summary
  .card
    overflow: inherit
  .card__title
    font-size: 1.25rem
    line-height: 1.5rem
    padding-top: 0.75rem
