//***********************************
// Theme Variables
//***********************************

$programme-details-gutter: 80px
$programme-details-border: 1px solid $athens-gray
$programme-details-side-width: 280px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme-details
  color: $cod-gray

  +breakpoint(xlarge)
    &__main
      margin-right: 40px
      padding-right: 40px

  +breakpoint(large)
    &__main
      border: 0
      border-bottom: $programme-details-border
      margin: 0
      margin-bottom: 30px
      padding: 0
      padding-bottom: 30px

  &__series 
    .show-hide__content 
      border-bottom: 0
      padding-bottom: 0
      margin-bottom: 0
      + p
        margin-top: 0.1rem
    
    .wysiwyg > div:not(:last-child)
        border-bottom: 1px solid $cornflower-blue
        padding-bottom: 1em
        margin-left: -55px
        padding-left: 55px

  &__side
    .modal
        &__content
            background-color: $white
    .form
      &__label
        color: $black
      
      .button
        background-color: $brand-color
    
