//***********************************
// Theme Variables
//***********************************

$section-padding: 40px 0
$section-bgc: $white
$section-shade-bgc: $cod-gray

//***********************************

$section-copy-color: $white
$section-copy-hover-color: $white
$section-copy-margin: 0 0 20px
$section-copy-size: $base-font-size
$section-copy-weight: normal

//***********************************

$section-header-text-align: center

//***********************************

$section-actions-align: center

//***********************************
// Custom Override Styles
//***********************************

.custom .section
    padding-top: 0
    color: $cod-gray

    &__header--left
        text-align: left

    &--shade
        color: $white

    &__header
        margin-top: 5rem