//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .video-carousel
    position: relative
    padding-top: 40px
    padding-bottom: 20px
    z-index: 2
    min-height: 200px
    margin-top: -200px

    .video-carousel__container
        position: relative
        margin-bottom: 20px

    .section--shade
        background: transparent

    +breakpoint(large)
        border-bottom: 2rem solid $white

    