//***********************************
// Theme Variables
//***********************************

$list-controls-padding: 0 0px 15px
$list-controls-sticky-width: 1266px
$list-controls-sticky-padding: 0
$list-controls-sticky-padding-bp-small: 0
$list-controls-border: 1px solid $abbey

//***********************************
// Custom Override Styles
//***********************************

.custom .list-controls
    min-height: 0
    margin-top: -10px

    .list-controls__list > *

    &__list
        color: $white
        font-family: $secondary-font-family
        letter-spacing: 0.5px
        font-size: 18px