//***********************************
// Theme Variables
//***********************************

$actions-padding: 20px 0
$actions-background: $shark

//***********************************

$actions-inner-display: flex
$actions-inner-flex-wrap: wrap
$actions-inner-align: center
$actions-inner-justify: flex-end
$actions-inner-margin: -10px -5px 0px 0px

//***********************************

$actions-item-margin: 10px 5px 0px 0px

//***********************************
// Custom Override Styles
//***********************************

.custom .meetings
    background-color: $outer-space
    padding-top: 100px

    &__container
        .button
            padding: 10px 25px

        .react-datepicker__input-container input
            height: 40px

    &__wrapper
        background-color: $outer-space

    &__controls
        background-color: $shark

    &__range
        .button--icon
            height: 40px
            width: 40px

    &__filters

        .meetings__container
            padding-top: 15px
            padding-bottom: 18px

        .form__label
            font-weight: 800
            padding-bottom: 5px
    