//***********************************
// Theme Variables
//***********************************



//***********************************
// Custom Override Styles
//***********************************

.custom .meeting-summary
    &__label,
    &__label--spaced
        font-family: $secondary-font-family
        font-weight: 800
        color: $siroco
        font-size: 14px
        margin-bottom: 5px
        text-transform: uppercase

        &--spaced
            margin-top: 0