//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $outer-space

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section
    max-width: 1170px
    margin: 40px auto 0

    &__panel
        border-radius: 0
        padding: 30px 40px

    &__title
        color: $white
        font-size: 35px
        font-weight: normal
        margin: 0

    & + .form__errors
        max-width: 1170px
        margin-left: auto
        margin-right: auto