//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .video-carousel
    position: relative
    padding-bottom: 20px
    margin-bottom: 20px

    > *
        position: relative
        z-index: 2

    &:before
        background: url(../../images/theme/section-bg.svg) no-repeat
        background-size: 100vw
        content: ''
        height: calc(100% + 70px)
        position: absolute
        top: -70px
        width: 100%
        z-index: 1

    &__select-filters
        flex-direction: column

    &__select
        .custom-select
            margin-right: 8px
            width: 250px
        span
            min-width: 80px

    &__controls
        margin-bottom: 8px

    .programme
        &__title
            font-family: $secondary-font-family
            letter-spacing: 0.5px
            font-size: 18px

        &__image
            margin-bottom: 15px

    &--logged-out
        min-height: 600px

        .grid
            width: calc(50% + 30px)

    &__copy
        color: $white
        width: 50%

        &--bold
            padding: 0 4px
            font-weight: 800


    +breakpoint(xlarge)
        &__select
            flex-direction: column
            align-items: flex-start
            justify-content: end
            min-height: 75px

    +breakpoint(large)
        &__select
            flex-direction: row
            align-items: center
            justify-content: center
            min-height: 35px

    +breakpoint(medium)
        &:before
            display: none

        .grid
            display: flex
            margin-right: -10px
            > *
                margin-right: 10px
                width: calc(50% - 10px)

        &__copy
            width: auto

        &--logged-out
            min-height: 0
            margin-bottom: 0
            padding-bottom: 0

            .grid
                width: calc(100% + 10px)

        &__select
            padding-bottom: 10px
            flex-direction: column
            justify-content: flex-end
            align-items: flex-start
            min-height: 75px

    +breakpoint(small)

        &__select-filter-row
            flex-direction: column