//***********************************
// Theme Variables
//***********************************

$actions-padding: 20px 0
$actions-background: $firefly

//***********************************

$actions-inner-display: flex
$actions-inner-flex-wrap: wrap
$actions-inner-align: center
$actions-inner-justify: flex-end
$actions-inner-margin: -10px -5px 0px 0px

//***********************************

$actions-item-margin: 10px 5px 0px 0px

//***********************************
// Custom Override Styles
//***********************************

.custom .meetings
  background: $mirage
  padding-top: 134px

  &__controls
    background: $dark-brand-color

    .react-datepicker__input-container input
      color: $white

    .button--filled
      &:hover, &:focus
        border-color: $white

  &__filters
    padding: 20px 0
    color: $base-color

    .form__label,
    .Select.Select--single .Select-control,
    .Select.Select--single .Select-placeholder,
    .Select.Select--single .Select-value
      color: $base-color
