//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $dark-brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section

  .react-datepicker__input-container input
    color: $white

  &__panel
    color: $white