//***********************************
// Theme Variables
//***********************************

$filters-width: 940px
$filters-row-padding: 0 60px
$filters-column-padding: 20px 0

//***********************************

$filters-column-margin: 40px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme-filters

  &__label
    font-size: (14/16)+rem
    font-weight: 900
    

  &__column
    font-weight: 500

  &__selection
    white-space: normal

    .tag
      margin-bottom: 5px

  &__actions
    padding: 40px 0