//***********************************
// Color variables
//***********************************
$black: #000
$white: #fff
$bunker: #2a2f2f
$athens-gray: #EFF1F3
$casper: #A9B1BC
$brick-red: #D94857
$emerald: #39ca74
$tuna: #34363a
$mine-shaft: #222222
$gull-gray: #98A5B1
$red-damask: #E9813F