//***********************************

@import '../../_theme/_brand'

//***********************************
// Base font variables
//***********************************

$droid: $droid
$base-font-size: 16px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5

//***********************************
// Base color variables
//***********************************

$base-color-dark: #222
$base-color: $bunker
$base-color-light: $casper
$error-color: $brick-red

//***********************************
// Base image variables
//***********************************

$base-image-path: '../images/interface'

//***********************************
// Minium CMS Screen width
//***********************************
$min-cms-width: 980px
