src/brightcovePlayer/default/index.min.js
src/javascript/views/blocks/_people.js
src/javascript/views/events/edit.js
src/javascript/views/events/new.js
src/javascript/views/events/index.js
src/javascript/views/blocks/_programmes.js
src/javascript/views/blocks/_pages.js