//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: transparent
$sharer-padding: 10px 20px
$sharer-color: $white
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
  margin: 30px 0 10px
  color: $black
  font-size: (14/16)+rem
  font-weight: 900
  

.custom .fade-on-load
  >.sharer:last-child
    padding-bottom: 80px