//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$checkbox-filters-margin: 0 0 2px 0

//***********************************

$checkbox-filters-header-bg: $concrete
$checkbox-filters-header-padding: 15px 30px 15px 40px

//***********************************

$checkbox-filters-content-padding: 20px 60px 20px

//***********************************

$checkbox-filters-toggle-bg: $brand-color
$checkbox-filters-toggle-bg-active: $casper
$checkbox-filters-toggle-padding: 5px 20px
$checkbox-filters-toggle-radius: 20px
$checkbox-filters-toggle-hover-bg: $casper

//***********************************
// Custom Override Styles
//***********************************

.custom .checkbox-filters
    &__header

        .custom-checkbox__label
            font-size: 21px
            text-transform: none

            &::before
                top: -4px