//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: $mine-shaft
$sharer-padding: 20px 0
$sharer-color: $white
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
