//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tabs-background: $brand-color
$tabs-border: 2px solid $tabs-background
$tabs-spacing: 30px
$tabs-active-color: $white
$tabs-padding: 10px
$tabs-border-radius: 0

//***********************************

$tabs-item-font-size: 14px
$tabs-item-weight: bold
$tabs-item-background: transparent

//***********************************

$tabs-select-margin: 0 0 20px 0

//***********************************
// Custom Override Styles
//***********************************

.custom .tabs
