@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$virtual-asset-search-control-border-radius: 4px


//***********************************
// Custom Override Styles
//***********************************

.custom .virtual-asset-search

  &__list-button
    border: 1px solid $white

  &__filter-btn
    border-color: $white

    &--selected
      background-color: $white
      color: black

  &__selector
    .carousel
      margin: 10px 0

    .programme__icon
      top: 50%
      left: 50%
      bottom: unset
      right: unset

  .programme-search
    &__input
      color: $white
      background-position-x: 4px

  .react-autosuggest
    &__section-title
      padding-top: 15px
      text-transform: none

    &__suggestion
      color: black