//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #3E5F7D
$nav-icon-hover-color: $brand-color

$factual: (light: #8AB19C, dark: #5F8F75)
$movies: (light: #DA5662, dark: #BD3A46)
$scripted: (light: #47759E, dark: #3F7CB3)
$formats: (light: #D04F30, dark: #E98B74)

$genre-colors: ( factual: $factual, scripted: $scripted, movies: $movies, movie: $movies, formats: $formats)