//***********************************
// Typography
//***********************************

$base-font-family: 'Roboto', sans-serif
$base-font-size: 16px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 48px, 2: 24px, 3: 20px)
$base-heading-weight: bold

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$valencia: #DC4250
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #6AB38C

$outer-space: #2F363F
$shark: #2A2C33
$mako: #3E4049
$silver: #BDBDBD
$iron: #C9CFD3
$oslo: #919296
$mirage: #1A2430
$ghost: #C2C6D3
$wildsand: #F5F5F5
$east-bay: #3E5F7D
$chambray: #3B618F
$steel-blue: #3F7CB3
$wedgewood: #47759E
$bluewood: #253446
$rhino: #24364D
$river-bed: #445060
$ebony-clay: #242F3C
$emperor: #525252
$mid-gray: #5B5D66
$alto: #e0e0e0
$ziggurat: #B0CDDD
$chambray: #3A579B
$bunker: #14181E

//Gold
$roti: #CEAD52  
$tussock: #B7973E

// Green
$silver-tree: #6AB28C

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: #222D3A
$base-color: $mirage
$base-color-light: $alto
$error-color: $valencia
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $mirage

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 569, small: 640, medium: 769, large: 1024, largePlus: 1025, xlarge: 1280)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.39, 0.44, 0.07, 1)

@mixin title-marker
  background: linear-gradient($roti, $tussock)
  content: ''
  display: block
  height: 18px
  position: absolute
  left: -25px
  top: 0
  width: 5px