//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$add-meeting-size: 32px
$add-meeting-border: none
$add-meeting-radius: 0
$add-meeting-background: transparent
$add-meeting-background-hover: transparent

//***********************************

$add-meeting-icon-size: 32px
$add-meeting-icon-size-large: 50px
$add-meeting-icon-fill: $brand-color
$add-meeting-icon-fill-hover: $base-color

//***********************************
// Custom Override Styles
//***********************************

.custom .add-meeting