//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$calendar-row-height: 130px
$calendar-row-border: 1px solid rgba($base-color-dark, 0.2)
$calendar-column-width: 380px

//***********************************

$calendar-time-width: 65px
$calendar-days-height: 50px

//***********************************

$calendar-slot-bg: $white
$calendar-slot-bg-disabled: $gallery

//***********************************
// Custom Override Styles
//***********************************

.custom .calendar
    &__day
        background-color: $brand-color

    &__bar
        background-color: $success-color

    &__add-meeting
        background-color: transparent