//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$custom-select-min-width: 100px
$custom-select-max-width: 400px
$custom-select-bgc: $white
$custom-select-border: 1px solid $iron
$custom-select-radius: 3px
$custom-select-height: 40px
$custom-select-padding: 0 40px 0 20px
$custom-select-icon-fill: $base-color

//***********************************
// Custom Override Styles
//***********************************

.custom:not(.admin) .custom-select

  &__select
    color: $tuna

.custom

  .react-datepicker__tether-enabled
    input
      border-color: $brand-color
