//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$list-modal-padding: 20px 0
$list-modal-background: $gallery
$list-modal-transform: translateY(100%)

//***********************************

$list-modal-list-display: flex
$list-modal-list-spacing: 10px
$list-modal-list-padding: 0 0 20px

//***********************************

$list-modal-title-margin: 0 auto 0 0

//***********************************
// Custom Override Styles
//***********************************

.custom .list-modal
  .modal__close
    background: url('../../../images/theme/btn-pebble-brand.svg') no-repeat
    background-size: 100% 100%
    border-radius: 0

  &__title
    font-size: 24px

  +breakpoint(large)
    &__list
      flex-wrap: wrap

  +breakpoint(small)
    font-size: 18px

    

.no-touch .custom .list-modal
  .modal__close
    &:hover
      background: url('../../../images/theme/btn-pebble-brand.svg') no-repeat
      background-size: 100% 100%

      svg
        fill: $white