//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$nav-bgc: $white
$nav-divide-color: $iron
$nav-width: 400px
$nav-width-bp-large: 320px

//***********************************

$nav-close-left: auto
$nav-close-right: 40px
$nav-close-top: 30px

//***********************************

$nav-item-divide-margin: 0 0 15px 0
$nav-item-divide-padding: 0 0 15px 0

//***********************************

$nav-list-padding: 80px
$nav-list-padding-bp-large: 80px 50px 50px 50px

//***********************************

$nav-link-active-color: $buckthorn
$nav-link-color: $base-color
$nav-link-hover-color: $buckthorn
$nav-link-padding: 10px 0

//***********************************

$sub-nav-margin: 0
$sub-nav-padding: 0 0 0 30px

//***********************************
// Custom Override Styles
//***********************************

.custom .navigation

  &::after
    background: linear-gradient(to bottom, $brand-color 4.5%, $drama 4.5%, $drama 16.6%, $comedy 16.6%, $comedy 27.3%, $kids 27.3%, $kids 40.9%, $digital 40.9%, $digital 44.1%, $game 44.1%, $game 69.5%, $reality 69.5%, $reality 72.6%, $entertainment 72.6%, $entertainment 86.3%, $factual 86.3%)
    content: ''
    display: block
    height: 100% 
    width: 8px

  &__link
    font-family: $heading-font-family
    font-size: 18px
    font-weight: bold
    text-transform: uppercase

  &__sub-nav
    list-style: none

  .button
    background: transparent
    border: none

    &:hover
      .button__icon
        fill: $brand-color
    
  .button__icon
    fill: $base-color

