//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$media-border-radius: 5px 0px 0px 5px

//***********************************
// Custom Override Styles
//***********************************

.custom .news
  &__featured
    .card__media-link
      border-radius: $media-border-radius
      &::after
        display: none

    .card__media
      margin-bottom: 0px
      border-radius: $media-border-radius !important
