//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$programme-image-radius: 6px
$programme-image-spacing: 10px

//***********************************

$programme-title-font-size: 18px
$programme-title-font-size-small: 14px

//***********************************

$programme-copy-font-size: 14px
$programme-copy-color: $casper

//***********************************

$programme-icon-size: 54px
$programme-icon-background: url('../../../images/theme/btn-pebble-white.svg') no-repeat
$programme-icon-border: none
$programme-icon-radius: 100%

//***********************************

$programme-icon-arrow-size: 30px
$programme-icon-arrow-color: $tuna

//***********************************

$programme-strip-bgc: $error-color
$programme-strip-color: $white
$programme-strip-font-size: 12px
$programme-strip-padding: 6px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme
    &__icon
        background-size: 100% auto

    &__title
        font-family: $heading-font-family
        font-weight: bold
        text-transform: uppercase