//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$slide-toggle-bg: $iron
$slide-toggle-active-bg: $brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .slide-toggle
  &__label
    font-size: 18px
    text-transform: uppercase