//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$video-play-bgc: rgba(0,0,0,0.5)
$video-play-border: 2px solid $brand-color
$video-play-radius: 50%

//***********************************

$video-play-size: 75px

//***********************************

$video-play-arrow-bgc: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .video
