//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$add-meeting-size: 30px
$add-meeting-border: 2px solid $silver
$add-meeting-radius: 50%
$add-meeting-background: transparent
$add-meeting-background-hover: $brand-color

//***********************************

$add-meeting-icon-size: 16px
$add-meeting-icon-size-large: 16px
$add-meeting-icon-fill: $silver
$add-meeting-icon-fill-hover: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .add-meeting