@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$file-uploader-preview-color: $casper

//***********************************
// Custom Override Styles
//***********************************

.custom .file-uploader-input
  .button
    position: static
    z-index: auto
    &:after
      display: none