//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: $background-color
$sharer-padding: 50px 20px
$sharer-color: $white
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
  background: linear-gradient(rgba($background-color, 0), $bluewood)