//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$toggle-size: 34px
$toggle-border: solid 1px $brand-color
$toggle-background: rgba($white, .4)
$toggle-background-hover: tint($brand-color, 90%)
$toggle-border-radius: 50%

//***********************************

$toggle-icon-fill: $white

//***********************************

$toggle-active-background: linear-gradient($wedgewood 0.15%, $steel-blue)
$toggle-active-border: none

//***********************************
// Custom Override Styles
//***********************************

.custom .toggle

.custom:not(.admin) .toggle
  border: none