@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$virtual-asset-search-control-border-radius: 4px


//***********************************
// Custom Override Styles
//***********************************

.custom .virtual-asset-search

  &__selector
    .carousel
        margin: 10px 0

    .programme__strip
      text-indent: 0px
      line-height: 2

  .programme-search__input
    color: $white

  &__video-article
    .programme__strip
      width: unset

  &__pdf-asset
    height: 115px
