//***********************************
// Theme Variables
//***********************************

$grid-gutter: 20px
$grid-margin-bottom: -10px

//***********************************
// Custom Override Styles
//***********************************

.custom .grid
  > p
    color: $gallery

.custom
  .content-block--text-and-items
    .grid
      justify-content: center

  .content-block--related-pages
    .grid
      justify-content: center