//***********************************
// Theme Variables
//***********************************



//***********************************
// Custom Override Styles
//***********************************

.custom .meeting-summary
  color: $gallery
  
  &__copy
    color: $gallery

  &__label,
  &__label--spaced
    color: $spun-pearl