//***********************************
// Theme Variables
//***********************************

$actions-padding: 20px 0
$actions-background: $white

//***********************************

$actions-inner-display: flex
$actions-inner-flex-wrap: wrap
$actions-inner-align: center
$actions-inner-justify: flex-end
$actions-inner-margin: -10px -5px 0px 0px

//***********************************

$actions-item-margin: 10px 5px 0px 0px

//***********************************
// Custom Override Styles
//***********************************

.custom .meetings
  padding-top: 100px
  
  &__container
    .button
      margin-bottom: 0

  &__controls
    background-color: $charade

  &__wrapper
    background-color: $bright-gray

  +breakpoint(small)
    padding-top: 80px