//***********************************
// Theme Variables
//***********************************

$filters-width: 940px
$filters-row-padding: 0 40px
$filters-column-padding: 20px 0

//***********************************

$filters-column-margin: 40px

//***********************************
// Custom Override Styles
//***********************************

.custom:not(.admin) .programme-filters
  &__label
    color: $gallery
    text-transform: uppercase

  