//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$attr-border: none
$attr-bgc: $athens-gray
$attr-margin: 0 0 20px 0
$attr-font-size: 16px
$attr-cell-padding: 10px 15px

//***********************************
// Custom Override Styles
//***********************************

.custom .attributes
    border: 1px solid $iron
    
    &__cell:first-child
        font-weight: normal