//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$icon-button-fill: $base-color-dark

//***********************************
// Custom Override Styles
//***********************************

.custom .icon-button
    svg
        display: block
        
    +hover
        svg
            fill: $brand-color