//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tag-bgc: $brand-color
$tag-hover-bgc: shade($brand-color, 10%)
$tag-margin: 0 4px 4px 0
$tag-padding: 4px 5px
$tag-radius: 2px

//***********************************

$tag-font-size: 14px
$tag-font-weight: bold
$tag-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .tag
  font-family: $heading-font-family
  line-height: 1
  text-transform: uppercase

  &__icon
    fill: $tag-color
