//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$text-button-color: $brand-color
$text-button-font-family: $heading-font-family
$text-button-font-size: $base-font-size

//***********************************
// Custom Override Styles
//***********************************

.custom .text-button
    font-weight: bold
    text-decoration: none
    text-transform: uppercase

    &:hover
        color: $buckthorn