//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$info-size: 14px
$info-color: $base-color-light


//***********************************
// Custom Override Styles
//***********************************

.custom
  .heading
    &--one,
    &--two,
    &--three
      font-family: $heading-font-family
      font-weight: bold
      text-transform: uppercase

    &--two
      &::after
        background: $base-color
        content: ''
        display: block
        height: 4px
        margin-top: 12px
        width: 60px

    &--four
      font-size: 15px
      margin-bottom: 3px
      font-weight: 500