//***********************************
// Theme Variables
//***********************************

$actions-padding: 15px 0 0
$actions-background: transparent

//***********************************

$actions-inner-display: flex
$actions-inner-flex-wrap: wrap
$actions-inner-align: center
$actions-inner-justify: flex-end
$actions-inner-margin: -10px -5px 0 0

//***********************************

$actions-item-margin: 10px 5px 0 0

//***********************************
// Custom Override Styles
//***********************************

.custom .actions
    &__inner
        border-bottom: 1px solid $delta
        padding-bottom: 15px


.custom .sticky-container
    padding-bottom: 12px
