//***********************************
// Theme Variables
//***********************************

$grid-gutter: 20px
$grid-margin-bottom: -10px

//***********************************
// Custom Override Styles
//***********************************

.custom .grid
    &:last-child
        margin-bottom: 40px

    &--full
        margin: 0 !important

        > *
            margin: 0 !important

        &.grid--two
            > *
                width: 50%

        &.grid--three
            > *
                width: 33.333%

        &.grid--six
            > *
                width: 16.666%

    &--three,
    &--six
        flex-wrap: wrap
        margin: 0 -#{$grid-gutter} $grid-margin-bottom 0

        > *
            margin: 0 $grid-gutter $grid-gutter 0

    &--three
        > *
            width: calc(33.33% - #{$grid-gutter})

    &--six
        > *
            width: calc(16.666% - #{$grid-gutter})

    +breakpoint(large)
        &--three
            > *
                width: calc(50% - #{$grid-gutter})

    +breakpoint(medium)
        &--full
            &.grid--three,
            &.grid--six
                > *
                    width: 50%

        &--six
            > *
                width: calc(33.333% - #{$grid-gutter})

    +breakpoint(small)

        &--six
            > *
                width: calc(50% - #{$grid-gutter})

        &--three
            > *
                width: calc(100% - #{$grid-gutter})

        &--full

            &.grid--two,
            &.grid--three
                > *
                    width: 100%

    +breakpoint(xsmall)
        &--six
            > *
                width: calc(100% - #{$grid-gutter})

        &--full

            &.grid--six
                > *
                    width: 100%
