//***********************************
// Theme Variables
//***********************************

$list-controls-padding: 10px 0
$list-controls-sticky-width: 1220px
$list-controls-sticky-padding: 10px 20px 20px
$list-controls-sticky-padding-bp-small: 10px 10px 20px
$list-controls-border: 0

//***********************************
// Custom Override Styles
//***********************************

.custom .list-controls
    color: $mako
    font-size: (15/16)+rem
    font-weight: 500
    min-height: 0

    &--plain
        margin-bottom: 10px
