//***********************************

@import '../../../core/imports'

//***********************************
// Theme Variables
//***********************************

$content-block-bg-light: $white
$content-block-bg-shade: $athens-gray
$content-block-padding: 40px 0
$content-block-container-padding: 0 20px
$content-block-bg-brand: rgba($brand-color, .3)

//***********************************
// Custom Override Styles
//***********************************

.custom .content-block