//***********************************
// Typography
//***********************************

$base-font-family: 'Montserrat', sans-serif
$base-font-size: 17px
$base-font-weight: 500
$base-letter-spacing: 0
$base-line-height: 1.35
$base-font-smoothing: antialiased
$heading-sizes: (1: 48px, 2: 36px, 3: 24px)
$base-heading-weight: 500

//***********************************
// Colors
//***********************************

$athens-gray: #EFEFF1
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f

$delta: #A6A6A5
$nobel: #B5B5B5
$gallery: #EFEEED
$cod-gray: #1E1E1E
$cinnabar: #DC4250
$dove-gray: #616161
$cloudy: #AFA99F

$mako: #454A54
$gray: #8d8d8d
$iron: #C9CFD3

$thunder: #262326
$shark: #252527
$downy: #00575e

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: $shark
$base-color: $thunder
$base-color-light: $gray
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $gallery

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 768, large: 1024, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)