//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$asset-border-color: transparent
$asset-selected-bg: tint($brand-color, 80%)
$asset-padding: 10px
$asset-font-size: 15px
$asset-font-family: $base-font-family
$asset-media-bg: $athens-gray

//***********************************
// Custom Override Styles
//***********************************

.custom .asset

  &__size
    font-size: 15px

  &--display
    margin-bottom: 20px

.custom:not(.admin) .asset
  color: $gallery

  &--is-active
    color: $bright-gray

    .asset__size
      color: $bright-gray