//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$banner-min-height: 600px
$banner-tablet-min-height: 540px
$banner-mobile-min-height: 200px
$banner-short-min-height: 400px
$banner-color: $white

//***********************************

$banner-content-padding: 100px 0 80px
$banner-tablet-content-padding: 80px 0 40px
$banner-content-width: 580px

//***********************************

$banner-intro-min-height: 400px
$banner-intro-align-items: flex-end
$banner-intro-content-padding: 40px 0
$banner-intro-content-width: 800px

//***********************************

$banner-title-margin: 0 0 20px

//***********************************

$banner-copy-margin: 0 0 20px
$banner-copy-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .banner
  background: $charade
  align-items: flex-end

  &:after
    background: linear-gradient(180deg, rgba($charade, 0), rgba($charade, 1))

  &__title
    font-size: 60px
    line-height: 0.9

    &:last-child
      margin-bottom: 0

  &__logo
    max-width: 60% !important

  &--center
    .banner__copy
      max-width: none

  &--align-right
    .banner__media
      left: auto
      right: 0
      top: 0
      transform: translate(0, 0)

  &--short
    .banner__content
      padding: 40px 0

  &--catalogue-show
    flex-direction: column

    .container
      margin-top: -40px
      order: 1
      width: calc(100% - 40px)

    &:after
      display: none
        
    .banner

      &__content
        max-width: none
        padding: 0 0 50px

      &__image
        position: relative
        min-height: 550px
        
        &:after
          background: linear-gradient(180deg, rgba($charade, 0), rgba($charade, 1))
          content: ''
          position: absolute
          bottom: 0
          top: 0
          width: 100%
          z-index: 3
          pointer-events: none

      &__title
        margin: 10px 0 40px
        text-transform: uppercase

        &:after
          background: $white
          display: block
          content: ''
          height: 6px
          max-width: 1180px
          margin-top: 40px

  &--catalogue-show:not(.banner--fallback)
    .banner__media
        position: static
        transform: none
        width: 100%

  .tag
    font-size: 14px
    padding: 6px 15px 5px

  &--medium-media
    &.banner--short,
    &.banner--intro
      min-height: 213px

  +breakpoint(large)
    &--catalogue-show
          
      .banner__image
        min-height: 400px


  +breakpoint(900, min)
    &--catalogue-show
          
      .banner

        &__content

          &:after
            display: block
            content: ''
            clear: both

        &__copy
          max-width: 45%
          float: left

        &__actions
          float: right

        &__title
          max-width: 65%

          &:after
            width: 154%
            

  +breakpoint(medium)

    &__placeholder
      transform: translateX(calc(-50% + 45vw))
      width: 180vw

    &__logo
      display: none
      max-width: 100px !important

    &__programme
      display: none
      
    &__title
      line-height: 1
      font-size: 26px
      margin-bottom: 10px

    &__copy
      font-size: 14px
      line-height: 1.2
      margin-bottom: 10px

    &__image
      position: static
    
    &--intro
      flex-direction: column
      min-height: 0

      .banner__media
        display: block
        position: static
        transform: none
        width: 100%

      .container
        order: 2

    &--short
      min-height: 213px

      .banner__image
        position: relative

      .container
        position: absolute
        top: 50%
        transform: translateY(-50%)

    &--catalogue-show
      .banner
        &__title
          margin-bottom: 20px

          &:after
            margin-top: 20px

        &__image
          position: relative
          height: auto
          min-height: 270px

      &.banner--fallback 
        .banner__image
          min-height: 140px

      .container
        width: auto
          
      .button
        color: transparent
        padding: 9px
        width: 40px

        +hover
          color: transparent
      