//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$programme-image-radius: 0
$programme-image-spacing: 10px

//***********************************

$programme-title-font-size: 16px
$programme-title-font-size-small: 14px

//***********************************

$programme-copy-font-size: 14px
$programme-copy-color: $gallery

//***********************************

$programme-icon-size: 60px
$programme-icon-background: rgba($bright-gray, .6)
$programme-icon-border: solid 2px $brand-color
$programme-icon-radius: 100%

//***********************************

$programme-icon-arrow-size: 24px
$programme-icon-arrow-color: $white

//***********************************

$programme-strip-bgc: $error-color
$programme-strip-color: $white
$programme-strip-font-size: 8px
$programme-strip-padding: 3px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme
  &__strip
    border-radius: 0 4px 0 0

  &__title
    color: $gallery