//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$slide-toggle-bg: $spun-pearl
$slide-toggle-active-bg: $brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .slide-toggle
  &__label
    color: $spun-pearl

  &__hint
    background: $slide-toggle-bg

    &-copy
      background: transparent
      border: solid 2px $brand-color
      border-radius: 4px