//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tabs-background: $brand-color
$tabs-border: 2px solid $tabs-background
$tabs-spacing: 30px
$tabs-active-color: $white
$tabs-padding: 10px
$tabs-border-radius: 100px

//***********************************

$tabs-item-font-size: 16px
$tabs-item-weight: 700
$tabs-item-background: $white

//***********************************

$tabs-select-margin: 0 0 20px 0

//***********************************
// Custom Override Styles
//***********************************

.custom .tabs
  &__item
    text-transform: uppercase

.custom:not(.admin) .tabs
  &__item:not(.tabs__item--active)
    background: $background-color
    color: $white

