//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$as-radius: 0
$as-border: 2px solid $base-color

//***********************************

$as-title-bg: $base-color
$as-title-weight: 700
$as-title-size: 18px
$as-title-padding: 8px 20px
$as-title-border: 1px solid $gallery

//***********************************

$as-suggestion-size: 14px
$as-suggestion-padding: $as-title-padding
$as-suggestion-border: 1px solid $gallery
$as-suggestion-hover-bg: $gallery
$as-description-color: $base-color

//***********************************
// Custom Override Styles
//***********************************

.custom .react-autosuggest
  &__section-title
    color: white