//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tag-bgc: $base-color-dark
$tag-hover-bgc: $brand-color
$tag-margin: 0 5px 5px 0
$tag-padding: 4px 10px 4px 6px
$tag-radius: 0 11px 11px 0

//***********************************

$tag-font-size: 12px
$tag-font-weight: 700
$tag-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .tag
    text-transform: uppercase
    
    &__icon
        fill: $white

    &--Unregistered, 
    &--unregistered,
    &--restricted
        background-color: $error-color