//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************


//***********************************
// Custom Override Styles
//***********************************

.custom .brand
    margin-right: 20px
    max-width: 245px

    img,
    svg
        max-width: 100%
        min-width: 120px

    +breakpoint(small)
        margin-right: 10px