//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$create-form-display: flex

//***********************************

$create-form-button-background: $delta
$create-form-button-font-size: $base-font-size
$create-form-button-font-family: $base-font-family
$create-form-button-font-weight: 500
$create-form-button-color: $white
$create-form-button-padding: 10px 20px 10px 10px
$create-form-button-radius: $base-border-radius

//***********************************

$create-form-input-padding: 10px 10px 10px 20px
$create-form-input-border: 1px solid $iron
$create-form-input-radius: $base-border-radius 0 0 $base-border-radius
$create-form-input-font-size: $base-font-size
$create-form-input-font-family: $base-font-family

//***********************************

$create-form-button-hover-background: shade($delta, 10%)
$create-form-button-hover-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .create-form
    &__button
        margin-left: -3px
