//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$media-border-radius: 8px 0px 0px 8px

//***********************************
// Custom Override Styles
//***********************************

.custom .news
  .card__media
    min-height: 168px

  &__featured

    .card__over
      border-radius: $media-border-radius

    .card__media-link
      width: 100% !important

    .card__media
      margin-bottom: 0px
      border-radius: $media-border-radius !important
