//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tweet-base-color: $base-color
$tweet-bgc: transparent

//***********************************

$tweet-title-color: $base-color
$tweet-title-margin: 5px 5px 5px 0
$tweet-title-size: 18px
$tweet-title-weight: bold

//***********************************

$tweet-handle-color: $bitter
$tweet-handle-font-size: 14px

//***********************************

$tweet-date-color: $base-color
$tweet-date-font-size: 12px
$tweet-date-margin: 0

//***********************************

$tweet-copy-color: $base-color
$tweet-copy-hover-color: $base-color
$tweet-copy-margin: 0 0 10px
$tweet-copy-size: $base-font-size
$tweet-copy-weight: 500

//***********************************

$tweet-avatar-size: 48px
$tweet-avatar-margin: 0 10px 0 0

//***********************************
// Custom Override Styles
//***********************************

.custom .tweet
    padding-left: 68px
    box-sizing: border-box

    &__avatar
        float: left
        margin-left: -68px

    &__copy
        line-height: 18px