//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************


//***********************************
// Custom Override Styles
//***********************************

.custom .brand
    display: flex
    max-width: 40%
    top: -1px

    img
        max-width: 100%

    