//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$footer-bgc: white
$footer-padding: 50px 0 80px

//***********************************

$footer-brand-margin: 0 auto 40px

//***********************************
// Custom Override Styles
//***********************************

.custom .footer
    border-top: solid 4px $brand-color

    &__list
        justify-content: center

    &__link
        color: $base-color
        line-height: 1

    &__item
        border-right: solid 1px $base-color

    &__copy
        font-size: 12px

    .sharer
        margin-bottom: 35px