//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$badge-bg-color: $brand-color
$badge-color: $white
$badge-border: 1px solid $brand-color
$badge-size: 15px
$badge-padding: 3px
//***********************************
// Custom Override Styles
//***********************************

.custom .badge
  &:before
    font-size: 13px
    letter-spacing: -0.6px