//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$chart-placeholder-bg: $background-color

//***********************************
// Custom Override Styles
//***********************************

.custom .chart
  &__controls
    > *
      flex: 0

    .custom-select
      min-width: 200px

    .button
      white-space: nowrap