//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #0198D8
$nav-icon-hover-color: white

$animals: #247F27
$crime: #B3B3B3
$documentaries: #000000
$exploration: #B7FF00
$food: #FF2727
$formats: #1027FF
$history: #F2DF00
$home: #EC3B83
$independants: #08DF30
$internationals: #FF8500
$kids: #FF89B9
$lifestyle: #00FFCE
$mystery: #696969
$science: #9B53FC
$travel: #09B1FF
$turbo: #272727


// colour maps
$genre-colors: ('travel': $travel,'science_technology': $science,'international_highlights': $internationals,'lifestyle': $lifestyle,'animals_nature': $animals, 'crime_investigation': $crime, 'documentaries_spotlight': $documentaries, 'exploration_adventure': $exploration, 'food': $food, 'formats': $formats, 'history': $history, 'home': $home, 'independent_exclusives': $independants, 'kids': $kids,  'mystery_paranormal': $mystery, 'turbo': $turbo)
