@font-face
  font-family: 'Gotham'
  font-style: normal
  font-weight: normal
  font-display: auto
  src: url('/assets/fonts/Gotham-Book_Web.woff2') format('woff2'), url('/assets/fonts/Gotham-Book_Web.woff') format('woff')

@font-face
  font-family: 'Gotham'
  font-style: normal
  font-weight: 500
  font-display: auto
  src: url('/assets/fonts/Gotham-Medium_Web.woff2') format('woff2'), url('/assets/fonts/Gotham-Medium_Web.woff') format('woff')

@font-face
  font-family: 'Gotham'
  font-style: normal
  font-weight: 600
  font-display: auto
  src: url('/assets/fonts/Gotham-Bold_Web.woff2') format('woff2'), url('/assets/fonts/Gotham-Bold_Web.woff') format('woff')

@font-face
  font-family: 'Gotham'
  font-style: normal
  font-weight: 700
  font-display: auto
  src: url('/assets/fonts/Gotham-Black_Web.woff2') format('woff2'), url('/assets/fonts/Gotham-Black_Web.woff') format('woff')

//***********************************
// Typography
//***********************************

$base-font-family: 'Gotham', Helvetica, Arial, sans-serif
$base-font-size: 16px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.3
$base-font-smoothing: antialiased
$heading-sizes: (1: 40px, 2: 28px, 3: 24px)
$base-heading-weight: 700
$sub-font-family: 'Lucida Grande', Helvetica, Arial, sans-serif

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$ufo-green: #26cd6f
$gamboge: #ef990b
$guardsman: #C50000

$pumice: #CBCCCB
$mine-shaft: #222222
$gull-gray: #98A5B1
$concrete: #F2F2F2
$mercury: #E3E3E3
$fuscous: #4D4D4C
$golden-bell: #EC8B15
$fern-green: #3F7940

$mako: #434A54
$iron: #C9CFD3
$shark: #202222
$gray: #929292
$diesel: #111111
$cod-gray: #181818
$porcelain: #e6eded
$gallery: #EFEFEF
$cerulean: #0198D8

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: $diesel
$base-color: $cod-gray
$base-color-light: $gray
$error-color: $guardsman
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $white

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)