//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #E5193A
$nav-icon-hover-color: $brand-color


//  genres
$drama: #EA178C //pink
$entertainment: #1DAFEB //blue
$factual: #9BC847 //green
$lifestyle: #7065A1 //purple
$comedy: #F79F31 //orange
$format: #90330A //brown
$tpp: #FF4200 //red
$unregistered: #202222 //grey

// colour maps
$genre-colors: ('drama': $drama, 'entertainment': $entertainment, 'factual': $factual, 'lifestyle': $lifestyle, 'comedy': $comedy, 'format': $format, 'formats': $format, 'tpp': $tpp, 'the_phoenix_project': $tpp, 'unregistered': $unregistered)
