//***********************************
// Font-family
//***********************************

@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800,900'); 
    
//***********************************
// Typography
//***********************************

$base-font-family: 'Catamaran', sans-serif
$base-font-size: 17px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 80px, 2: 36px, 3: 20px)
$base-heading-weight: 800

//***********************************
// Colors
//***********************************

$cod-gray: #1E1E1E
$porcelain: #E9ECED
$tundra: #414141
$cornflower-blue: #C9CFD3
$edward: #98A4A5

$athens-gray: #eff1f3
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: #222
$base-color: $cod-gray
$base-color-light: $casper
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $cod-gray

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)