//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$attr-border: none
$attr-bgc: $shark
$attr-margin: 0 0 20px 0
$attr-font-size: 18px
$attr-cell-padding: 11px 20px

//***********************************
// Custom Override Styles
//***********************************

.custom .attributes
    color: $white
    font-family: $secondary-font-family
    letter-spacing: 0.5px
    font-weight: normal

    &__cell:first-child
        font-weight: normal