//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$badge-bg-color: black
$badge-color: $white
$badge-border: 2px solid $white
$badge-size: 15px
$badge-padding: 3px

//***********************************
// Custom Override Styles
//***********************************

.custom .badge