//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$chart-placeholder-bg: $shark

//***********************************
// Custom Override Styles
//***********************************

.custom .chart
    .button
        max-width: 190px

    &__message
        color: $white
        font-family: $secondary-font-family
        text-transform: uppercase
        letter-spacing: 0.5px
        font-weight: 800


    

