//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$react-select-bgc: $base-color
$react-select-color: $white
$react-select-border: 1px solid $mine-shaft
$react-select-radius: 0
$react-select-focused-border: $brand-color
$react-select-padding: 8px 0 3px 10px
$react-select-height: 50px
$react-select-width: 230px

$react-select-single-padding: 3px 0 3px 17px
$react-select-single-border: 2px solid $brand-color

//***********************************

$react-select-placeholder-color: $white

//***********************************

$react-select-value-bgc: transparent
$react-select-value-radius: 0
$react-select-value-color: $white

//***********************************

$react-select-menu-border: 1px solid $mine-shaft
$react-select-menu-radius: 0

//***********************************

$react-select-option-border: 1px solid $mine-shaft
$react-select-option-padding: 15px 10px
$react-select-option-color: $white
$react-select-option-focus-bgc: $abbey
$react-select-option-focus-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom:not(.admin) .Select

    &-menu-outer
        background: $shark
        margin-top: 0
        left: 0
        width: 100%

    &-option
        transition: background-color .3s, color .3s

    &-control,
    &-input > input,
    &-option
        font-size: 15px
        font-family: $secondary-font-family
        font-weight: 800

    &.Select--single,
    &.Select--multi
        .Select-value,
        .Select-placeholder
            color: $react-select-placeholder-color
            font-size: 15px

        .Select-arrow-zone
            align-self: center
            background: $base-color url(../../images/theme/select-arrow-white.svg) 18px no-repeat
            display: block
            height: 42px
            padding-left: 50px

        .Select-multi-value-wrapper
            max-width: none

        .Select-clear-zone
            padding-right: 10px

    &-value-icon,
    &-input > input
        color: $white

.custom:not(.admin)

    .react-datepicker__input-container
        input
            border-color: $mine-shaft
            background-color: $base-color
            font-family: $secondary-font-family
            color: $white
            font-size: 15px
            font-weight: 800

        &:after
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 9'%3E%3Cpath fill='%23ffffff' d='M0.3,0.4c0.5-0.5,1.1-0.5,1.6,0l4,3.9l4-3.9c0.6-0.5,1.2-0.5,1.6,0c0.5,0.5,0.4,1.2,0,1.7 c-0.4,0.4-4.9,4.6-4.9,4.6C6.6,6.9,6.3,7,6,7C5.7,7,5.4,6.9,5.2,6.7c0,0-4.4-4.2-4.9-4.6C-0.1,1.6-0.1,0.8,0.3,0.4'/%3E%3C/svg%3E") center center no-repeat