//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .report
    &__sub-title
        color: $siroco
        font-family: $secondary-font-family
        text-transform: uppercase
        letter-spacing: 0.5px
        font-weight: 800

        &.heading--three
            font-size: 14px