//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$stat-border: 1px solid $mine-shaft
$stat-radius: 0
$stat-title-size: 12px
$stat-title-padding: 13px
$stat-detail-size: 30px
$stat-add-size: 14px

//***********************************
// Custom Override Styles
//***********************************

.custom .statistic
    color: $white

    &__title,
        background-color: $base-color 
        border-bottom: solid 1px $mine-shaft

    &__title,
    &__additional
        font-family: $secondary-font-family
        text-transform: uppercase
        letter-spacing: 0.5px
        font-weight: 800