//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$text-button-color: $white
$text-button-font-family: $secondary-font-family
$text-button-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .text-button
    border-bottom: solid 2px transparent
    line-height: 1.2
    text-decoration: none

    &--underline
        text-decoration: underline

    &--error
        color: $white

    &:hover
        border-color: $abbey
