//***********************************
// Theme Variables
//***********************************

$body-bgc: $background-color
$body-margin: 0
$body-padding: 0

//***********************************

$page-before-color: rgba($base-color-dark, .8)

//***********************************
// Custom Override Styles
//***********************************

.custom
  @each  $genre, $color in $genre-colors
    .tag--#{$genre},
    .#{$genre} .banner__title:after
      background-color: map-get($genre-colors, $genre)

  .sticky
    &-container
      padding-bottom: 40px

