//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section
    &__panel
        border-radius: 0 0 55px 0
        border: 1px solid $iron
