//***********************************
// Theme Variables
//***********************************

$body-bgc: $tundora
$body-margin: 0
$body-padding: 0

//***********************************

$page-before-color: rgba($mine-shaft, .9)

//***********************************
// Custom Override Styles
//***********************************

.custom
  .page
    background-color: $white
    margin: 0 auto
    max-width: 1600px

  .sticky
    background: $gallery

    .list-controls__divider
      color: rgba($base-color, .5)

  .page-header--branded
    background-color: $tundora