//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$container-width: 1290px
$container-large-width: 1360px
$container-padding: 0 30px
$container-margin: 0 auto

$container-slim-width: 780px

$container-clear-header-padding: 100px

//***********************************
// Custom Override Styles
//***********************************

.custom .container
