//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .video-carousel
  &__label
    font-size: 16px
    font-weight: 300

  &__controls
    padding-bottom: 40px