//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$asset-border-color: $base-color-light
$asset-selected-bg: $gallery
$asset-padding: 10px
$asset-font-size: 14px
$asset-font-family: $base-font-family
$asset-media-bg: $athens-gray

//***********************************
// Custom Override Styles
//***********************************

.custom .asset

  &--display
    border: none

  &__media
    width: 55px