//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$create-form-display: flex

//***********************************

$create-form-button-background: $brand-color
$create-form-button-font-size: 17px
$create-form-button-font-family: $base-font-family
$create-form-button-font-weight: bold
$create-form-button-color: $base-color-dark
$create-form-button-padding: 10px 15px
$create-form-button-radius: 0 2px 2px 0

//***********************************

$create-form-input-padding: 13px 10px 12px 12px
$create-form-input-border: 1px solid $iron
$create-form-input-radius: 3px 0 0 3px
$create-form-input-font-size: 16px
$create-form-input-font-family: $base-font-family

//***********************************

$create-form-button-hover-background: $base-color-dark
$create-form-button-hover-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .create-form
  &__input
    font-weight: 600