//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$checkbox-size: 26px
$checkbox-border: 2px solid $iron
$checkbox-radius: 50%
$checkbox-bg: transparent
$checkbox-bgsz: 12px 9px

//***********************************

$checkbox-border-color-selected: $brand-color
$checkbox-bg-selected: $brand-color url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 9'%3E%3Cpath fill='%23040203' d='M1.9,3.7L1.9,3.7c-0.4-0.5-1.1-0.5-1.5,0c-0.4,0.4-0.4,1.1,0,1.6l3.2,3.3l0.1,0.1c0.4,0.4,1.1,0.4,1.5,0l6.6-6.8c0.4-0.4,0.4-1.1,0-1.6c-0.4-0.4-1.1-0.4-1.5,0l-5.8,6L1.9,3.7z'/%3E%3C/svg%3E") center center no-repeat

//***********************************

$checkbox-toggle-border: none
$checkbox-toggle-bgc: $montana
$checkbox-toggle-radius: 0
$checkbox-toggle-padding: 2px 15px

//***********************************

$checkbox-toggle-bgc-selected: $brand-color
$checkbox-toggle-color-selected: $white

//***********************************

$checkbox-label-disabled-color: grey


//***********************************
// Custom Override Styles
//***********************************

.custom:not(.admin) .custom-checkbox
  &--toggle
    font-size: 13px
    font-weight: bold

  &__label
    font-size: 16px
    display: flex
    align-items: center
    min-height: 30px

.custom.admin .checkbox-filter-tabs .custom-checkbox
  &__label
    color: white