//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$footer-bgc: $white
$footer-padding: 45px 0

//***********************************

$footer-brand-margin: 0 auto 10px

//***********************************
// Custom Override Styles
//***********************************

.custom .footer
  &__copy
    color: $black
    font-size: 13px
    text-align: center

  &__link
    color: $base-color-dark

  &__nav,
  &__copy,
  .sharer
    margin: 0 0 10px
    
  .brand
    img
      width: 140px