//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: transparent
$sharer-padding: 0
$sharer-color: $base-color
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
  &__item
    margin: 0 13px

  &__link
    height: 44px
    width: 44px