//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$slide-toggle-bg: $base-color-dark
$slide-toggle-active-bg: $brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .slide-toggle
  &__hint-copy
    background: $white
    font-size: 14px
    border-radius: 3px