//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$video-play-bgc: $brand-color
$video-play-border: none
$video-play-radius: 50%

//***********************************

$video-play-size: 80px

//***********************************

$video-play-arrow-bgc: $base-color-dark

//***********************************
// Custom Override Styles
//***********************************

.custom .video
