//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section
  margin: 40px 0
  
  &__panel
    box-shadow: 0 2px 5px 0 rgba($regent-gray,.6)
    border-radius: 10px
    padding: 40px

  &__title
    text-transform: uppercase
    font-size: 28px