//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .video-carousel
    .section
        background: transparent
        position: relative
        z-index: 2

    &__label
        color: rgba($tuna, .4)
        font-size: 18px
        font-weight: bold
        text-transform: uppercase

    &__select
        .custom-select__select
            font-size: 18px
            font-weight: bold
            text-transform: uppercase