//***********************************
// Theme Variables
//***********************************

$section-padding: 40px 0
$section-bgc: $white
$section-shade-bgc: $athens-gray

//***********************************

$section-copy-color: $base-color
$section-copy-hover-color: $base-color
$section-copy-margin: 0 0 20px
$section-copy-size: $base-font-size
$section-copy-weight: normal

//***********************************

$section-header-text-align: center

//***********************************

$section-actions-align: center

//***********************************
// Custom Override Styles
//***********************************

.custom .section
