@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap')

//***********************************
// Typography
//***********************************

$base-font-family: 'Public Sans', sans-serif
$base-font-size: 18px
$base-font-weight: 400
$base-letter-spacing: 0
$base-line-height: 1.38
$base-font-smoothing: antialiased
$heading-sizes: (1: 42px, 2: 36px, 3: 25px)
$base-heading-weight: bold

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f
$cod-gray: #1C1C1C
$curious-blue: #2B95C8
$onyx: #131313
$mako: #484D4E
$cadet-gray: #98A5B1
$montana: #3B3B3B
$brick-red: #C81016
$dark-gray: #545656
$mystic: #E6E9ED
$tarawera: #0A394C
$stack: #878787
$tuatara: #363636

$iron: #C9CFD3
$tundora: #434142
$gallery: #F0F0F0
$thunder: #231F20
$night-rider: #040203
$mine-shaft: #221F1F
$cape-cod: #3D3F40
$empress: #7A7475

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: $night-rider
$base-color: $mine-shaft
$base-color-light: $iron
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $white

$base-shadow: inset 0 1px 3px 0 rgba($black,0.5)

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 640, medium: 768, large: 1024, largePlus: 1025, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)