//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #4EC3E0
$brand-color-dark: #0085AD
$brand-color-light: #edf9fc
$nav-icon-hover-color: white
