//***********************************
// Typography
//***********************************

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);

$base-font-family: Raleway, Arial, sans-serif
$base-font-size: 15px
$base-font-weight: 400
$base-letter-spacing: 0
$base-line-height: 1.2
$base-font-smoothing: antialiased
$heading-sizes: (1: 48px, 2: 24px, 3: 20px)
$base-heading-weight: bold

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$brick-red: #DC4250
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f

$mako: #434A54
$cod-gray: #1A1919
$mine-shaft: #222222
$gull-gray: #98A5B1
$concrete: #F2F2F2
$mercury: #E3E3E3
$fuscous: #4D4D4C
$gray: #8C8C8C
$iron: #C9CFD3
$gunpowder: #434054
$abbey: #54585A

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: #222
$base-color: #222
$base-color-light: $gray
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $white

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)