.count
  background-color: $brand-color
  border-radius: 16px
  box-sizing: border-box
  color: $white
  display: inline-block
  font-size: 10px
  font-weight: normal
  height: 17px
  line-height: 17px
  min-width: 17px
  padding: 0 10px
  text-align: center
  vertical-align: middle
  margin-right: 10px

  &--warning
    background-color: $red-damask

  &--error
    background-color: $brick-red

  &--success
    background-color: $emerald

  &--disabled
    background-color: $casper

  &--large
    align-items: center
    border-radius: 100px
    display: inline-flex
    font-size: 13px
    height: auto
    line-height: 1.2
    margin: 0 5px 5px 0 !important
    padding: 3px 15px 4px 10px
    text-align: left

  &__remove
    color: $black
    cursor: pointer
    font-size: 22px
    line-height: 1
    margin-right: 5px
    transform: translateY(2px)

  &--solo:last-child
    margin-left: 0