.intro
  background-color: shade($athens-gray, 5%)
  text-align: right
  overflow: hidden
  padding: 10px 0
  top: 0
  z-index: 2
  position: sticky
  margin-top: -20px

  .container
    margin-bottom: 0