.permissions-list
  background-color: $athens-gray
  border-radius: 10px
  margin: 40px -30px 20px
  padding: 40px 0 0

  &__list
    margin: 0
    padding: 0
    list-style: none
    max-height: 300px
    overflow-y: auto

  &__item
    padding: 10px 20px

    &:nth-child(odd)
      background-color: $white

  .react-autosuggest__suggestions-container
    max-height: 100px

