.territories-list
  background-color: $athens-gray
  border-radius: 10px
  margin: 0 -30px 20px
  padding: 20px 0 0
  overflow: hidden

  &__list
    margin: 0
    padding: 0
    list-style: none

  &__item
    padding: 10px 20px

    &:nth-child(odd)
      background-color: $white
