//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$form-width: 980px
$form-skinny-width: 400px

//***********************************

$form-input-padding: 8px 20px
$form-input-radius: 3px
$form-textarea-radius: 3px
$form-input-border: 1px solid $iron
$form-input-focus-border: $brand-color
$form-textarea-height: 120px
$form-input-phone-padding: 3px 15px

//***********************************
// Custom Override Styles
//***********************************

.custom .form

  &__label
    color: $mako
    font-size: 13px
    font-weight: 500
    
  &__input
    &::placeholder
      color: rgba(#262326, .4)

  &__group
    .delete
      margin-top: 40px

  +breakpoint(large, min)
    &__control
      margin-bottom: 35px