//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$th-bgc: $white
$th-border-color: $gallery
$th-font-size: 20px
$th-font-weight: 600
$th-padding: 10px 20px

$td-bgc: $white
$td-border-color: $gallery
$td-font-size: 16px
$td-padding: 15px 20px
$table-radius: 0

.custom .table

  th
    border-left: none

  &__actions
    .button
      white-space: nowrap