//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tag-bgc: $brand-color
$tag-hover-bgc: $downy
$tag-margin: 0 5px 5px 0
$tag-padding: 5px 9px 4px
$tag-radius: 3px

//***********************************

$tag-font-size: 11px
$tag-font-weight: 500
$tag-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .tag
    text-align: center
    text-transform: uppercase