//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$text-button-color: $white
$text-button-font-family: $base-font-family
$text-button-font-size: $base-font-size

//***********************************
// Custom Override Styles
//***********************************

.custom .text-button
    font-weight: 500
    padding: 3px 10px
    text-decoration: none
    text-transform: uppercase

    &:hover
        color: $downy
        text-decoration: underline
