//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$info-size: 14px
$info-color: $base-color-light

//***********************************
// Custom Override Styles
//***********************************

.custom

  .heading
    &--one,
    &--two,
    &--three
      margin: 0 0 20px
      text-transform: uppercase

#app
  font-weight: $base-font-weight