//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section
  margin: 40px 0

  &__panel
    border-radius: 10px
    color: $base-color
    padding: 40px