//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #2F86F1
$nav-icon-hover-color: $brand-color

$scripted: #E7457E //pink
$non_scripted: #A940E7 //purple
$formats: #50BF9C //green

// colour maps
$genre-colors: ( 'scripted': $scripted, 'non_scripted': $non_scripted, 'formats': $formats)

