@font-face
  font-family: 'itv'
  src: url('/assets/fonts/itv-reem-regular-webfont.woff2') format('woff2'), url('/assets/fonts/itv-reem-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: auto

@font-face
  font-family: 'itv'
  src: url('/assets/fonts/itv-reem-bold-webfont.woff2') format('woff2'), url('/assets/fonts/itv-reem-bold-webfont.woff') format('woff')
  font-weight: 700
  font-display: auto

//***********************************
// Typography
//***********************************

$base-font-family: 'itv', sans-serif
$base-font-size: 16px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.2
$base-font-smoothing: antialiased
$heading-sizes: (1: 36px, 2: 26px, 3: 17px)
$base-heading-weight: bold

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black-haze: #ebedec
$black: #000
$brick-red: #DA1935
$bunker: #2a2f2f
$cadet-gray: #98a5b1
$casper: #a9b1bc
$gamboge: #ef990b
$geyser: #c9cfd3
$jazzberry-jam: #a90061
$silver-chalice: #abacad
$ufo-green: #26cd6f
$white-smoke: #f5f6f5
$white: #fff

$bright-gray: #38394D
$charade: #282b39
$spun-pearl: #afb0b8
$gallery: #EDEDED
$dodger: #2F86F1
$iron: #C9CFD3
$abbey: #57585B

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: #222
$base-color: $bunker
$base-color-light: $casper
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $bright-gray

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)
