//***********************************
// Brand Specific Variables 
//***********************************

$brand-color: #89172b
$nav-icon-hover-color: $brand-color

$delta: #a2a29a
$edward: #98a4a5
$geyser: #dae1e5
$glacier: #80aac0
$iron: #c9cfd3
$mako: #434a54
$orient: #005681
$tiara: #ccd2d2
$bitter: #87877C




//  genres
$art_culture: #a77900
$entertainment: #b0778c
$crime_investigation: #5b6976
$food: #77ad37
$current_affairs: #72763d
$home_design: #b93598
$documentaries_specials: #686295
$kids: #df2927
$history: #3891a4
$lifestyle: #ecbc09
$science_technology: #d47727
$reality: #5ecfb9
$wildlife_natural_history: #005c33
$travel: #34ace2
$animals: #9765d2

$scripted: #00274c

// colour maps
$genre-colors:  ( 'art_culture': $art_culture,'entertainment': $entertainment,'crime_investigation': $crime_investigation,'true_crime': $crime_investigation,'food': $food,'current_affairs': $current_affairs,'home_design': $home_design,'documentaries_specials': $documentaries_specials, 'documentaries': $documentaries_specials,'kids': $kids,'history': $history,'lifestyle': $lifestyle,'science_technology': $science_technology,'science': $science_technology,'reality': $reality,'wildlife_natural_history': $wildlife_natural_history,'travel': $travel, 'scripted':$scripted, 'animals': $animals )
