//***********************************
// Typography
//***********************************

$base-font-family: 'Gotham', sans-serif
$base-font-size: 15px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 60px, 2: 30px, 3: 20px)
$base-heading-weight: bold

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: $mako
$base-color: $mako
$base-color-light: $delta
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $white

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(.86, 0, .07, 1)

//***********************************
// Misc
//***********************************
$base-border-radius: 3px
$base-box-shadow: 2px 2px 8px rgba($black, .2)
$bold: 600
