//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$add-meeting-size: 32px
$add-meeting-border: 2px solid $brand-color
$add-meeting-radius: 50%
$add-meeting-background: transparent
$add-meeting-background-hover: $brand-color

//***********************************

$add-meeting-icon-size: 30px
$add-meeting-icon-size-large: 30px
$add-meeting-icon-background: $brand-color
$add-meeting-icon-fill: $black
$add-meeting-icon-fill-hover: $white
$add-meeting-icon-margin: 10px

//***********************************
// Custom Override Styles
//***********************************

.custom .add-meeting
  &__icon
    border-radius: 0