//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$asset-border-color: transparent
$asset-selected-bg: tint($brand-color, 80%)
$asset-padding: 10px
$asset-font-size: 14px
$asset-font-family: $base-font-family
$asset-media-bg: $athens-gray

//***********************************
// Custom Override Styles
//***********************************

.custom .asset
  &__media
    margin: 0 10px
    order: 2

  &__details
    order: 3


