//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************


//***********************************
// Custom Override Styles
//***********************************

.custom .brand
  img
    max-width: 100%

  +breakpoint(medium)
    width: 180px

  +breakpoint(small)
    margin-right: 10px
    width: 140px