//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$breadcrumbs-bgc: $cod-gray-2
$breadcrumbs-padding: 14px 0

//***********************************

$breadcrumbs-item-color: $white
$breadcrumbs-item-margin: 0 10px 0 0
$breadcrumbs-item-padding: 0 15px 0 0

//***********************************

$breadcrumbs-link-color: $brand-color
$breadcrumbs-link-hover-color: $brand-color
$breadcrumbs-link-size: 12px

//***********************************

$breadcrumbs-seperator-width: 6px
$breadcrumbs-seperator-height: 10px
$breadcrumbs-seperator-bg: center / contain no-repeat url('../../../images/theme/chevron-right.svg')

//***********************************

$breadcrumbs-border-color: $cod-gray

//***********************************
// Custom Override Styles
//***********************************

.custom .breadcrumbs
