//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$checkbox-filters-margin: 0 0 2px 0

//***********************************

$checkbox-filters-header-bg: $base-color-dark
$checkbox-filters-header-padding: 10px 30px 10px 40px

//***********************************

$checkbox-filters-content-padding: 20px 60px 20px

//***********************************

$checkbox-filters-toggle-bg: $brand-color
$checkbox-filters-toggle-bg-active: $tradewind
$checkbox-filters-toggle-padding: 5px 20px
$checkbox-filters-toggle-radius: 0
$checkbox-filters-toggle-hover-bg: $tradewind

//***********************************
// Custom Override Styles
//***********************************

.custom .checkbox-filters
  &__toggle
    color: $black

    svg
      fill: $black

  &__header .custom-checkbox__label
  	color: $white