//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$video-play-bgc: $white
$video-play-border: none
$video-play-radius: 0

//***********************************

$video-play-size: 96px

//***********************************

$video-play-arrow-bgc: $black

//***********************************
// Custom Override Styles
//***********************************

.custom .video
