//***********************************
// Theme Variables
//***********************************

$body-bgc: $background-color
$body-margin: 0
$body-padding: 0

//***********************************

$page-before-color: rgba($brand-color, .8)

//***********************************
// Custom Override Styles
//***********************************

.custom
    main
        background: linear-gradient(180deg, $mercury 0%, $mercury 500px, $white 880px, $white calc(100% - 380px), $mercury 100%)
        flex: 1 0 auto
        
    .page__wrapper
        display: flex
        flex-direction: column

