//***********************************
// Theme Variables
//***********************************

$page-controls-padding: 30px 0

//***********************************
// Custom Override Styles
//***********************************

.custom .page-controls

    &__center
        margin-left: 30px

    &__count
        margin: 0

    &__right
        margin-right: 10px
    
    .per-page
        margin-right: 30px
        margin-left: auto
        
        .Select-control
            min-width: 90px

    +breakpoint(medium)
        &__control
            margin-bottom: 10px
    
