//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section
    &__panel
        border-radius: 0
        box-shadow: 0 20px 24px 0 rgba($black,.12)
