//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$psearch-bgc: $white
$psearch-padding: 20px 0

//***********************************

$psearch-input-border: none
$psearch-input-focus-border: $brand-color
$psearch-input-font-family: $base-font-family
$psearch-input-font-size: 24px
$psearch-input-padding: 8px 0 8px 45px
$psearch-input-radius: 0
$psearch-input-radius-open: 0

//***********************************

$psearch-button-radius: 0
$psearch-button-font-size: 20px
$psearch-button-padding: 8px 30px 8px 25px

//***********************************

$psearch-clear-fill: $base-color-light
$psearch-clear-hover-fill: $brand-color

//***********************************

$psearch-input-radius-bp-small: 22px
$psearch-button-radius-bp-small: 22px
$psearch-input-radius-open-bp-small: 22px 22px 0 0

//***********************************
// Custom Override Styles
//***********************************

.custom .programme-search

  &__input
    background: url(../../images/theme/mag-glass.svg) -11px center / 50px  transparent no-repeat
    color: $brand-color
    font-weight: bold

  +breakpoint(medium)
    &--global
      background: $white
      padding-left: 20px
      left: 0
      right: 0
