//***********************************
// Theme Variables
//***********************************

$section-padding: 40px 0
$section-bgc: transparent
$section-shade-bgc: transparent

//***********************************

$section-copy-color: $base-color
$section-copy-hover-color: $base-color
$section-copy-margin: 0 0 20px
$section-copy-size: $base-font-size
$section-copy-weight: normal

//***********************************

$section-header-text-align: left

//***********************************

$section-actions-align: right

//***********************************
// Custom Override Styles
//***********************************

.custom .section