//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .video-carousel
    margin-top: -10px
    margin-bottom: -20px

    .carousel__arrow
        margin-top: -30px
        top: 50%

    .programme
        &__image
            background: $brand-color
            height: 0
            padding-top: 62.5%

            img
                bottom: 0
                position: absolute

        &__placeholder
            
            width: 35%