//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$card-base-color: $base-color
$card-bgc: $white
$card-border-radius: 4px
$card-padding: 26px 30px

//***********************************

$card-title-color: $base-color
$card-title-hover-color: $brand-color
$card-title-margin: 0 0 10px
$card-title-size: 20px
$card-title-weight: bold

//***********************************

$card-date-color: $base-color-light
$card-date-font-size: 14px
$card-date-margin: -5px 0 10px

//***********************************

$card-copy-color: $base-color
$card-copy-hover-color: $base-color
$card-copy-margin: 0 0 10px
$card-copy-size: $base-font-size
$card-copy-weight: normal

//***********************************

$card-count-color: $white
$card-count-background: $brand-color
$card-count-padding: 2px 12px
$card-count-weight: bold
$card-count-border-radius: 15px
$card-count-spacing: 5px
$card-count-offset: -3px

//***********************************

$card-toggle-position: absolute
$card-toggle-right: 10px
$card-toggle-top: 0px
$card-toggle-transform: translateY(-50%)

//***********************************

$card-tags-margin: 5px -5px 5px 0
$card-tag-margin: 0 5px 5px 0
$card-tag-font-size: 11px
$card-tag-color: $base-color-light
$card-tag-border: 1px solid $base-color-light
$card-tag-padding: 1px 10px 0
$card-tag-radius: 50px

//***********************************

$card-active-shadow: 0 12px 5px rgba($base-color-dark, 0.2)

//***********************************

$card-small-content-padding: 10px

//***********************************

$card-small-title-size: 14px

//***********************************

$card-icon-fill: $brand-color

//***********************************

$card-strip-bgc: $error-color
$card-strip-color: $white
$card-strip-font-size: 12px
$card-strip-padding: 6px

//***********************************
// Custom Override Styles
//***********************************

.custom .card

  &--poster
    max-height: 240px