//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$checkbox-filters-margin: 0 0 2px 0

//***********************************

$checkbox-filters-header-bg: tint($brand-color, 90%)
$checkbox-filters-header-padding: 10px 30px 10px 40px

//***********************************

$checkbox-filters-content-padding: 20px 60px 20px

//***********************************

$checkbox-filters-toggle-bg: $brand-color
$checkbox-filters-toggle-bg-active: $casper
$checkbox-filters-toggle-padding: 5px 20px
$checkbox-filters-toggle-radius: 20px
$checkbox-filters-toggle-hover-bg: $casper

//***********************************
// Custom Override Styles
//***********************************

.custom .checkbox-filters
