//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$contact-image-size: 70px
$contact-image-border-radius: 100%

$contact-jobtitle-font-size: 14px

$contact-info-margin: 20px

$contact-detail-margin: 60px

//***********************************
// Custom Override Styles
//***********************************

.custom .contact