//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$header-bgc: transparent
$header-max-width: 1520px
$header-padding: 30px 20px
$header-welcome-color: $white
$header-user-color: $brand-color
$header-user-hover-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .header