//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$paginator-margin: 40px 0

//***********************************

$paginator-button-spacing: 1px
$paginator-button-color: $white
$paginator-button-border: 0
$paginator-button-bgc: $brand-color
$paginator-button-padding: 5px
$paginator-button-size: 34px
$paginator-button-active-color: $base-color
$paginator-button-active-bgc: $white

//***********************************

$paginator-ellipsis-bgc: tint($brand-color, 75%)
$paginator-ellipsis-color: $brand-color

//***********************************

$paginator-arrow-padding: 5px 20px
$paginator-previous-radius: 20px 0 0 20px
$paginator-next-radius: 0 20px 20px 0
$paginator-disabled-arrow-bgc: tint($brand-color, 75%)

//***********************************
// Custom Override Styles
//***********************************

.custom .paginator
