//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$programme-image-radius: 5px
$programme-image-spacing: 10px

//***********************************

$programme-title-font-size: 16px
$programme-title-font-size-small: 14px

//***********************************

$programme-copy-font-size: 14px
$programme-copy-color: $casper

//***********************************

$programme-icon-size: 72px
$programme-icon-background: rgba($casper, .8)
$programme-icon-border: 2px solid $brand-color
$programme-icon-radius: 100%

//***********************************

$programme-icon-arrow-size: 30px
$programme-icon-arrow-color: $white

//***********************************

$programme-strip-bgc: $error-color
$programme-strip-color: $white
$programme-strip-font-size: 12px
$programme-strip-padding: 6px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme
