@import '../imports'
.cms-brand
  background: transparent
  border: none
  box-sizing: border-box
  cursor: pointer
  outline: none
  padding: 35px 20px
  text-align: center
  transition: padding .3s

  img
    display: block
    margin: 0 auto
    max-height: 100%
    transition: width .3s
    width: 100px

  .cms-header--with-sub &
    padding: 20px

    img
      width: 80px
