//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$attr-border: 1px solid $athens-gray
$attr-bgc: tint($athens-gray, 50%)
$attr-margin: 0 0 20px 0
$attr-font-size: 14px
$attr-cell-padding: 10px

//***********************************
// Custom Override Styles
//***********************************

.custom .attributes
  color: $black