//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$chart-placeholder-bg: $base-color

//***********************************
// Custom Override Styles
//***********************************

.custom .chart
  &--light
    background: $white

  &__controls
    background: $black
    margin-bottom: 0
    padding: 15px
