//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$form-width: 980px
$form-skinny-width: 580px

//***********************************

$form-input-padding: 8px 15px
$form-input-radius: 0
$form-textarea-radius: 0
$form-input-border: 1px solid $base-color-light
$form-input-focus-border: $brand-color
$form-textarea-height: 120px
$form-input-phone-padding: 3px 15px

//***********************************
// Custom Override Styles
//***********************************

.custom .form
  &--skinny
    box-sizing: border-box
    padding: 20px

  &__label
    font-size: (12/16)+rem
    font-weight: normal

  &__input
    background: transparent
    max-width: 100%

  &__control--actions
    margin-bottom: 20px
    margin-top: 20px

  +breakpoint(xlarge, min)
    &__control,
    &__inner
      position: relative

    &__error
      background: $brick-red
      bottom: 0
      color: $white
      display: block
      font-size: 14px
      font-weight: 700
      left: 100%
      margin-left: 15px
      margin-top: 5px
      padding: 10px 15px
      position: absolute
      text-align: left
      white-space: nowrap

      &::before
        border-bottom: 10px solid transparent
        border-right: 10px solid $brick-red
        border-top: 10px solid transparent
        content: ''
        display: inline-block
        height: 0
        position: absolute
        right: 100%
        top: 50%
        transform: translateY(-50%)
        width: 0

      &--inline
        position: static
        margin: 0
        white-space: normal
        padding: 0
        background-color: transparent
        color: $brick-red
        &::before
          display: none

    > .form__error
      margin-left: 0
      position: static
      white-space: normal

      &::before
        display: none

  +breakpoint(small, 'min')
    &--skinny
      padding: 50px 100px

