//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .report
  &__title,
  &__heading
    background: $black
    display: inline-block
    margin-bottom: 0
    padding: 5px 15px
