//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$stat-border: 0
$stat-radius: 0
$stat-title-size: 14px
$stat-title-padding: 3px 10px
$stat-detail-size: map-get($heading-sizes, 1)
$stat-add-size: 14px

//***********************************
// Custom Override Styles
//***********************************

.custom .statistic
  &__title
    color: $black
    font-weight: 600
    text-transform: none

  &__box
    background: $white

  &__detail
    color: $black
    font-size: 40px
    font-weight: 900
    line-height: 1.1
    margin: 0
    padding: 15px 0

  &--inline
    .statistic__detail
      font-size: 30px

  &__label
    font-size: 22px