//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$text-button-color: $brand-color
$text-button-font-family: $base-font-family
$text-button-font-size: 12px

//***********************************
// Custom Override Styles
//***********************************

.custom .text-button
	text-transform: uppercase
	text-decoration: none