//***********************************

@import '../../core/imports'

//***********************************
// Custom Override Styles
//***********************************

.custom .wysiwyg, .custom .ql-editor
  h1,
  h2,
  h3
    line-height: 1.2
    text-transform: uppercase

  a
    color: inherit

    +hover
      color: $brand-color

