//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$info-size: 14px
$info-color: $base-color-light

//***********************************
// Custom Override Styles
//***********************************

.custom

  .heading--two
    letter-spacing: -1.6px
    margin-top: 0
    margin-bottom: 20px

  .heading--three
    margin-top: 0
    margin-bottom: 10px

  .modal__title
    margin-bottom: 0

  +breakpoint(small)
    .heading--one
      font-size: 36px

    .heading--two
      font-size: 28px
      letter-spacing: -1px

    .heading--two
      font-size: 22px