//***********************************

@import '../../core/imports'

.custom .wysiwyg, .custom .ql-editor

  h1,
  h2,
  h3
    line-height: 1
    letter-spacing: -2.4px 

  > *
    margin: 0 0 20px

  p
    font-weight: 300

  +breakpoint(medium)
    h1
      font-size: 32px

    h2
      font-size: 27px