//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************
$main-track-min-height: 200px

$jitsi-video-border-radius: 6px
$jitsi-video-border: 1px solid rgba(255, 255, 255, 0.25)
//***********************************
// Custom Override Styles
//***********************************

.custom .jitsi