//***********************************

@import '../../core/imports'
@import '../../_theme/components/navigation'

//***********************************
// Theme Variables
//***********************************

$menu-bgc: $nav-bgc
$menu-radius: 10px
$menu-top: 100%
$menu-width: 1200px
$menu-padding: 40px

$menu-list-padding: 0

$menu-item-width: 25%
$menu-item-spacing: 10px

$menu-link-color: $nav-link-color
$menu-link-hover-color: $nav-link-hover-color
$menu-link-font-size: $base-font-size
$menu-link-font-weight: $base-font-weight

$menu-sub-list-padding: 20px 0
$menu-sub-item-padding: 5px 0

$menu-close-spacing: 10px
$menu-close-icon-fill: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .mega-menu

