//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$team-member-background: $white
$team-member-color: $base-color
$team-member-width: 980px
$team-member-radius: 8px

$team-member-header-background: $athens-gray
$team-member-heading-padding: 60px 100px

$team-member-content-padding: 60px 100px
$team-member-content-width: calc(100% - 400px)
$team-member-side-width: 300px

$team-member-title-size: 36px
$team-member-sub-size: 18px

$team-member-icon-fill: $brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .team-member
  