//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$top-nav-border-bottom: 0
$top-nav-max-width: 700px
$top-nav-padding: 0

$top-nav-link-border-bottom: 2px solid $brand-color
$top-nav-link-color: $white
$top-nav-link-font-size: (15/16)+rem
$top-nav-link-font-weight: 500
$top-nav-link-padding: 10px 10px 20px

$nav-link-hover-color: $brand-color
$nav-link-active-color: $top-nav-link-color

$top-nav-breakpoint: 1160
//***********************************
// Custom Override Styles
//***********************************

.custom .top-navigation


