//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$video-control-height: 40px
$video-control-color: black
$video-control-bg-img: linear-gradient(#4b4e53, #2b2d30)

$video-control-volume-slider-thumb-size: 9px

//***********************************
// Custom Override Styles
//***********************************

.custom .video-controls

