//***********************************
// Theme Variables
//***********************************

$panel-section-panel-bg: $brand-color-light 

//***********************************
// Custom Override Styles
//***********************************

.custom .panel-section
    &__panel
        border-radius: 20px
        border-bottom-right-radius: 0