//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$listing-item-gutter: 20px
$listing-item-border: solid 1px $base-color-light

$listing-thumbnail-width: 130px

$listing-heading-font-size: 18px
$listing-heading-margin: 0

$listing-sub-heading-font-size: 15px
$listing-sub-heading-margin: 0 0 10px

$listing-date-color: $base-color-dark
$listing-date-font-size: 14px

$listing-copy-color: $base-color-dark
$listing-copy-font-size: 14px

//***********************************
// Custom Override Styles
//***********************************

.custom .listing