@font-face
  font-family: 'Avenir Next'
  font-style: normal
  font-weight: normal
  font-display: auto
  src: url('/assets/fonts/Avenir_Next.ttc') format('ttc')

@font-face
  font-family: 'Avenir Next'
  font-weight: 600
  font-display: auto
  src: url('/assets/fonts/Avenir_Next.ttc') format('ttc')

@font-face
  font-family: 'Avenir Next'
  font-weight: 900
  font-display: auto
  src: url('/assets/fonts/Avenir_Next.ttc') format('ttc')

//***********************************
// Typography
//***********************************

$base-font-family: 'Avenir Next', sans-serif
$base-font-size: 15px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 60px, 2: 36px, 3: 30px, 4: 17px)
$base-heading-weight: 900

//***********************************
// Colors
//***********************************

$aquamarine-blue: #7cdae1
$athens-gray: #eff1f3
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$cod-gray-2: #161616
$cod-gray: #1e1e1e
$dusty-gray: #98a4a5
$edward: #98a4a5
$iron: #c9cfd3
$mountain-meadow: #1fce6d
$polar: #e5f8f9
$thunderbird: #cf1d12
$tradewind: #59b0b5
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f
$deep-cerulean: #0077B5

//***********************************
// gradients
//***********************************

$instagram-gradient: linear-gradient(45deg, rgba(255,218,117,1) 18%,rgba(255,58,73,1) 43%,rgba(255,58,73,1) 50%,rgba(229,24,161,1) 70%,rgba(102,52,225,1) 100%)
$instagram-gradient-hover: linear-gradient(45deg, rgba(255,218,117,1) 18%,rgba(255,58,73,1) 53%,rgba(255,58,73,1) 60%,rgba(229,24,161,1) 80%,rgba(102,52,225,1) 100%)

//***********************************
// Color Shortcuts
//***********************************

$base-color: $black
$base-color-dark: $cod-gray
$base-color-light: $casper
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $cod-gray

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************

$easing: cubic-bezier(.86, 0, .07, 1)
