//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$icon-button-fill: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .icon-button
    background: $brand-color
    border-top-right-radius: 25px
    border-bottom-right-radius: 25px
    height: 50px
    width: 50px