//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$text-button-color: $brand-color
$text-button-font-family: $base-font-family
$text-button-font-size: 15px

//***********************************
// Custom Override Styles
//***********************************

.custom .text-button
    font-weight: normal
    text-decoration: none
    padding: 5px 10px

    &:hover
        color: $tyrian
