//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$info-size: 14px
$info-color: $base-color-light

//***********************************
// Custom Override Styles
//***********************************

.custom

  .heading
    &--one,
    &--two
      margin: 0 0 20px

    &--two
      font-size: 25px

    &--three
      font-size: 20px