@import '../../core/imports'

$contols-height: 60px

.custom .bulk-manager

  +breakpoint(small)
    height: 130px

    &__actions
      right: 48%

    &__select-all
      right: 15%

    &__basket
      .button
        margin-top: 15px