//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$contact-image-size: 90px
$contact-image-border-radius: 100%

$contact-jobtitle-font-size: 14px

$contact-info-margin: 30px

$contact-detail-margin: 60px

//***********************************
// Custom Override Styles
//***********************************

.custom .contact
    color: $white
    max-width: 930px
    margin-left: auto
    margin-right: auto

    &__name
        font-size: 24px
        margin: 0 0 10px

    &__info
        margin-right: auto