//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$member-max-width: 160px
$member-margin: 0 auto
$member-text-align: center

//***********************************

$member-image-radius: 100%
$member-image-spacing: 10px

//***********************************

$member-title-font-size: 16px
$member-title-font-weight: 600

//***********************************

$member-copy-font-size: 14px

//***********************************
// Custom Override Styles
//***********************************

.custom .member