//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$notification-background: $brand-color
$notification-color: $black
$notification-position: fixed
$notification-top: 0
$notification-left: 0
$notification-right: 0
$notification-bottom: unset
$notification-width: inherit
$notification-margin: 0
$notification-z-index: 20
$notification-padding: 10px 1rem

//***********************************

$notification-inner-display: flex
$notification-inner-align: center

//***********************************

$notification-copy-color: $white

//***********************************

$notification-success-bgc: tint($brand-color, 85%)
$notification-success-color: $brand-color

//***********************************

$notification-error-bgc: tint($error-color, 80%)
$notification-error-color: $error-color

//***********************************
// Custom Override Styles
//***********************************

.custom .notification
    z-index: 30
