//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: $shark
$sharer-padding: 10px 20px
$sharer-color: $white
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
    &__link
        background: $white

    &__icon
        fill: $shark