//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$toggle-size: 34px
$toggle-border: 2px solid $white
$toggle-background: $base-color
$toggle-background-hover: $white
$toggle-border-radius: 50%

//***********************************

$toggle-icon-fill: $base-color

//***********************************

$toggle-active-background: $white
$toggle-active-border: 2px solid $white

//***********************************
// Custom Override Styles
//***********************************

.custom .toggle