//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tweet-base-color: $white
$tweet-bgc: transparent

//***********************************

$tweet-title-color: $white
$tweet-title-margin: 0 5px 0 0
$tweet-title-size: 18px
$tweet-title-weight: normal

//***********************************

$tweet-handle-color: $white
$tweet-handle-font-size: 18px

//***********************************

$tweet-date-color: $white
$tweet-date-font-size: 14px
$tweet-date-margin: 0

//***********************************

$tweet-copy-color: $white
$tweet-copy-hover-color: $white
$tweet-copy-margin: 0 0 10px
$tweet-copy-size: 18px
$tweet-copy-weight: normal

//***********************************


$tweet-avatar-size: 60px
$tweet-avatar-margin: 0 15px 0 0

//***********************************
// Custom Override Styles
//***********************************

.custom .tweet
    &__header
        margin-bottom: 15px
    &__copy,
    &__title,
    &__handle,
    &__date
        font-family: $secondary-font-family
        letter-spacing: 0.5px

    &__handle
        font-weight: 600