//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$tag-bgc: $brand-color-dark
$tag-hover-bgc: $brand-color-dark
$tag-margin: 0 5px 5px 0
$tag-padding: 5px 7px
$tag-radius: 0

//***********************************

$tag-font-size: 11px
$tag-font-weight: 400
$tag-color: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .tag
    &__icon
        fill: $white