//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$info-size: 14px
$info-color: $base-color-light

//***********************************
// Custom Override Styles
//***********************************

.custom
    .heading
        &--four
            font-size: $base-font-size
            font-weight: 600