@import '../../core/imports'
//***********************************
// Theme Variables
//***********************************

$grid-gutter: 20px
$grid-margin-bottom: 20px

//***********************************
// Custom Override Styles
//***********************************

.custom .grid

  &--full
    margin: 0 !important
    > *
      margin: 0 !important

    &.grid--three
      > *
        width: 33.333%

    &.grid--two
      > *
        width: 50%

  &--three
    flex-wrap: wrap
    margin: 0 -#{$grid-gutter} $grid-margin-bottom 0

    > *
      margin: 0 $grid-gutter $grid-gutter 0
      width: calc(33.33% - #{$grid-gutter})

  +breakpoint(large)
    &--three
      > *
        width: calc(50% - #{$grid-gutter})

  +breakpoint(medium)

    &--full

      &.grid--three
        > * 
          width: 50%

  +breakpoint(small)

    &--three
      > *
        width: calc(100% - #{$grid-gutter})
        
    &--full

      &.grid--three,
      &.grid--two
        > * 
          width: 100%

    &--three
      > *
        width: calc(100% - #{$grid-gutter})