//***********************************
// Theme Variables
//***********************************

$list-controls-padding: 10px 0px 20px
$list-controls-sticky-width: 1220px
$list-controls-sticky-padding: 10px 20px 20px
$list-controls-sticky-padding-bp-small: 10px 10px 20px
$list-controls-border: 1px solid $black

//***********************************
// Custom Override Styles
//***********************************

.custom .list-controls

  &__uppercase
    text-transform: uppercase
    font-size: (12/16)+rem
    padding-right: 10px

  .text-button
  	margin-left: 25px
  	margin-right: 25px