//***********************************
// Theme Variables
//***********************************

$page-controls-padding: 0

//***********************************
// Custom Override Styles
//***********************************

.custom .page-controls
  color: $white
  margin: 20px 0

  &--underlined
    border-bottom: 1px solid $black
    margin-bottom: 20px
    padding-bottom: 20px

  &__count
    font-size: (17/16)+rem
    font-weight: 900
    text-transform: uppercase

  &__right
    padding-top: 2px
    padding-bottom: 2px