.download-cta
  display: flex
  margin: -15px -15px 0 0
  align-items: center
  
  > *
    flex: none
    width: calc(50% - 15px)
    margin: 15px 15px 0 0

  &__logo
    display: block
    margin-bottom: 10px
    max-width: 70%

  &__media
    display: block
    width: 100%

  &__title
    margin: 0 0 10px

  &__copy
    margin: 0 0 10px

  +breakpoint(medium)
    width: 300px
    max-width: 100%
    display: block
    margin: 0 auto

    > *
      width: 100%
      margin-right: 0