.border-brand
  border-color: $brand-color

.border-error
  border-color: $error-color

/** BACKGROUND */

.bg-background
  background-color: $background-color

.bg-error
  background-color: $error-color

+breakpoint(large)
  .lg-hidden
    display: none

+breakpoint(medium)
  .md-hidden
    display: none

+breakpoint(small)
  .sm-hidden
    display: none
