//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$chart-placeholder-bg: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .chart
    .button
        padding-left: 0
        padding-right: 0