//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$icon-button-fill: $white

//***********************************
// Custom Override Styles
//***********************************

.custom .icon-button
    background: $black
    border: none
    padding: 5px

    svg
        height: 32px
        width: 32px

    +hover
        background: $white
        
        svg
            fill: $black
