//***********************************

@import '../../../core/imports'

//***********************************
// Theme Variables
//***********************************


//***********************************
// Custom Override Styles
//***********************************

.custom .featured-content-grid

    .carousel img:not(.banner__media).featured-content-grid__placeholder
        max-width: 106.6666%
        transform: translate(-3.333%)
        width: auto

    > *:first-child img:not(.banner__media).featured-content-grid__placeholder
        max-width: none
        transform: translate(-4.666%)
        width: 109.333%