//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$account-navigation-bg-color: $brand-color
$account-navigation-padding: 20px 0

$account-navigation-list-align: center

$account-navigation-divider-width: 1px
$account-navigation-divider-color: $white

$account-navigation-font-size: 15px
$account-navigation-font-weight: $base-font-weight
$account-navigation-color: rgba($white, .8)
$account-navigation-hover-color: $white

$account-navigation-item-spacing: 60px

//***********************************
// Custom Override Styles
//***********************************

.custom .account-navigation
  