@import '../../core/imports'

$contols-height: 60px

.custom .bulk-manager
  min-width: 0
  margin-left: 15px

  &__select-all-label
    color: $brand-color

  +breakpoint(large)
    margin-bottom: 0

  +breakpoint(medium)
    margin-left: 0