//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$footer-bgc: $brand-color
$footer-padding: 40px 0 30px

//***********************************

$footer-brand-margin: 0 auto

//***********************************
// Custom Override Styles
//***********************************

.custom .footer
    position: relative
    
    &__list
        justify-content: center
        
    &__link
        color: $white
        font-size: 12px

    &__nav
        margin-top: 20px

    &__copy
        color: $white
        font-size: 12px
        margin: 20px 0 0