//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************



//***********************************
// Custom Override Styles
//***********************************

.custom .like
  &__menu
    bottom: 100%
    top: auto
    margin-top: 0
    margin-bottom: 20px

    &:before
      bottom: 0
      transform: rotate(-135deg)
      top: 0

  &__trigger
    height: 36px
    width: 36px