//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

//***********************************
// Custom Override Styles
//***********************************

.custom .people
  .tag
    border: 1px solid $brand-color
    border-radius: 22px
    padding: 0px 4px
