//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$programme-image-radius: 10px
$programme-image-spacing: 0

//***********************************

$programme-title-font-size: 22px
$programme-title-font-size-small: 14px

//***********************************

$programme-copy-font-size: 14px
$programme-copy-color: $casper

//***********************************

$programme-icon-size: 50px
$programme-icon-background: $white
$programme-icon-border: none
$programme-icon-radius: 50%

//***********************************

$programme-icon-arrow-size: 20px
$programme-icon-arrow-color: $brand-color

//***********************************

$programme-strip-bgc: $cinnabar
$programme-strip-color: $white
$programme-strip-font-size: 12px
$programme-strip-padding: 6px

//***********************************
// Custom Override Styles
//***********************************

.custom .programme
    > *
        z-index: 2

    &:before
        background: linear-gradient(180deg, rgba($black,0) 0%, rgba($black,0.9) 100%)
        border-radius: 10px
        bottom: 0
        content: ''
        pointer-events: none
        position: absolute
        height: 65%
        width: 100%
        z-index: 1

    &__icon
        display: none
        bottom: 10px
        right: 10px
        left: auto
        top: auto
        transform: none
        z-index: 2

    &__image
        background: $brand-color
        z-index: auto

        .programme__icon
            display: block

    &__actions
        top: 0
        right: 10px

    &__title,
    &__logo
        color: $white
        bottom: 28px
        left: 30px
        pointer-events: none
        position: absolute

    &__strip
        bottom: auto
        top: 0

    