//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$sharer-bg: $gallery
$sharer-padding: 10px 20px
$sharer-color: $base-color
$sharer-font-size: 18px

//***********************************
// Custom Override Styles
//***********************************

.custom .sharer
  position: relative
  z-index: 1
