//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$slide-toggle-bg: $azalea
$slide-toggle-active-bg: $brand-color

//***********************************
// Custom Override Styles
//***********************************

.custom .slide-toggle
  &__label
    font-size: 15px