//***********************************
// Typography
//***********************************

$base-font-family: Helvetica, Arial, sans-serif
$base-font-size: 16px
$base-font-weight: normal
$base-letter-spacing: 0
$base-line-height: 1.5
$base-font-smoothing: antialiased
$heading-sizes: (1: 72px, 2: 36px, 3: 26px)
$base-heading-weight: bold

//***********************************
// Colors
//***********************************

$athens-gray: #eff1f3
$black: #000
$brick-red: #d94857
$bunker: #2a2f2f
$casper: #a9b1bc
$white: #fff
$gamboge: #ef990b
$ufo-green: #26cd6f

$mako: #434A54
$pumice: #CBCCCB
$cod-gray: #1A1919
$mine-shaft: #222222
$gull-gray: #98A5B1
$concrete: #F2F2F2
$mercury: #E3E3E3
$fuscous: #4D4D4C
$gray: #8C8C8C

//***********************************
// Color Shortcuts
//***********************************

$base-color-dark: #222
$base-color: $bunker
$base-color-light: $mercury
$error-color: $brick-red
$success-color: $ufo-green
$warning-color: $gamboge
$background-color: $mercury

//***********************************
// Breakpoints
//***********************************

$breakpoints: (xsmall: 567, small: 639, medium: 767, large: 1023, xlarge: 1279)

//***********************************
// Animation
//***********************************
$easing: cubic-bezier(0.86, 0, 0.07, 1)