//***********************************

@import '../../core/imports'

//***********************************
// Theme Variables
//***********************************

$delete-bgc-hover: transparent
$delete-bgc: transparent
$delete-border-hover: none
$delete-border: none
$delete-fill-hover: shade($error-color, 10%)
$delete-fill: $error-color
$delete-padding: 0
$delete-radius: 0
$delete-size: auto

//***********************************
// Custom Override Styles
//***********************************

.custom .delete